[2016-07-04 19:04] thesteve0 opened #1 "The list in the doc doesn't match dockerhub"
So the list in this doc doesn't match what is in dockerhub

https://hub.docker.com/u/crunchydata/

Is there some way to get the two lists in agreement or better descriptions in DockerHUb so we can see what is deprecated

Thanks!

[2016-07-04 19:17] thesteve0 opened #2 "Issue with a template"
Hey there:
This template
https://github.com/CrunchyData/crunchy-containers/blob/master/examples/openshift/master-slave-dc/master-slave-rc-dc-ict.json

uses an image stream (with latest) but there is no image stream defined anywhere else. It seems almost all the other templates use an actual image with a tag rather than an image stream.

Also, what does ict stand for.

Can we get a readme for some

[2016-07-07 23:39] thesteve0 commented on #2
Same thing with the master dc slave only. I am going to give you a pull request on this one .

[2016-07-08 14:12] jmccormick2001 commented on #2
the master-slave-rc-dc-ict.json file is an example of using an Image Change Trigger (ict) and is left there just as a reference of this concept.  All the examples are documented in the docs directory:  standalone.asciidoc is for running the examples in a Docker only environment, openshift.asciidoc is for running the examples in openshift, portworx.asciidoc is for running the examples using Docker

[2016-07-08 14:15] jmccormick2001 commented on #1
crunchy-pg is deprecated now that crunchy-postgres is open source, and pgrepl is a container that is for another project within crunchy but shares the same domain name, the crunchy-skybridge is also deprecated at this point.  I'll plan on removing the deprecated containers from the dockerhub in the next 2 weeks, after that removal, it should better match the list in crunchy-containers.

[2016-07-08 14:15] #1 closed, assigned to nobody

[2016-07-08 15:00] jmccormick2001 commented on #2
I'm moving to a new naming convention on the container tags, it will now include the
base image OS and the postgres version within the tag name, this should offer users a better
way to know exactly what they are running and help me offer better support when they hit issues.
so you'll see a container tag like this:  crunchydata/crunchy-postgres:centos7-9.5-1.2.1.1
which means it uses the Centos7 ba

[2016-07-08 15:00] #2 closed, assigned to nobody

[2016-07-29 14:22] bdurrow opened #4 "Feature Request: Point in Time Recovery (PITR)"
I am interested in brining up production postgres databases in OpenShift (Origin). Part of our requirements include Point In Time Recovery (PITR) but I don't see any this feature in crunchy-postgresql.  Is it on the roadmap?  I have done some work with pghoard (https://github.com/ohmu/pghoard) to have it work in a docker and plan to do more work to allow it to serve archived WALs for recovery out

[2016-08-01 15:44] jmccormick2001 commented on #4
thanks for your interest!  yes indeed, supporting some form of incremental backup or PITR is on the roadmap...currently the crunchy-backup container performs only a full basebackup and persists to some form of persistent storage....I do like what I see in pghoard and it might be indeed possible to use that as a PITR implementation.  I was also going to look at pgbackrest as well.  Tentatively, I'm

[2016-08-05 19:41] jmccormick2001 opened #5 "upgrade grafana container"
feature request:  upgrade to the latest version of grafana for crunchy-grafana

[2016-08-15 16:16] jmccormick2001 opened #6 "upgrade badger container to latest badger package"

[2016-08-16 14:59] jmccormick2001 opened #7 "create kube 1.3 petset example"
as of kube 1.3, petsets were introduced, this can be used to help build out a postgres cluster.

[2016-08-16 18:52] jmccormick2001 commented on #6
commited new Dockerfiles for pgbadger and pgpool to latest versions for both centos and rhel versions.

[2016-08-16 18:52] #6 closed, assigned to nobody

[2016-08-16 19:30] jmccormick2001 opened #8 "create docker 1.12 example"

[2016-08-16 19:39] jmccormick2001 commented on #5
merged changes in to go to latest version of grafana

[2016-08-16 19:39] #5 closed, assigned to nobody

[2016-08-19 20:31] jmccormick2001 opened #9 "document running the containers on mesosphere"

[2016-09-02 14:28] jmccormick2001 commented on #9
done, merged into master

[2016-09-02 14:28] #9 closed, assigned to nobody

[2016-09-02 14:31] jmccormick2001 commented on #7
done, merged basic example into master, a version with dynamic persistence is not possible till kube 1.4 , when 1.4 lands with the dynamic persistence plugin for gluster I'll create an example for that.

[2016-09-02 14:31] #7 closed, assigned to nobody

[2016-09-08 02:00] jmccormick2001 opened #12 "update docs for promgateway container"
need to update docs, replace pushgateway with promgateway in containers.asciidoc

[2016-09-08 16:45] jmccormick2001 commented on #12
done

[2016-09-08 16:45] #12 closed, assigned to nobody

[2016-09-09 21:11] jmccormick2001 opened #14 "update pgbadger to 1.0"

[2016-09-09 21:12] jmccormick2001 opened #15 "update pgadmin4 container"
use latest pgadmin4 release

[2016-09-12 13:32] jmccormick2001 opened #16 "container for upgrading"
evaluate idea for wrapping a database upgrade procedure into a container

[2016-09-14 09:05] mehdy opened #17 "Postgres Data will be lost"
There's a problem with postgres data that are stored in a volume. if by any reason I terminate the pod, Kubernetes will recreate it, maybe on the same node(everything's ok) or maybe on another node(all data will be lost).

what's your solution for this?

[2016-09-14 09:08] rimusz commented on #17
@mehdy use persistent disk to store the database state

[2016-09-14 18:05] jmccormick2001 commented on #17
correct, you will want to use NFS, gluster, Ceph, or one of the supported persistent volume types supported within Kube/OSE.  I typically use NFS for my testing just because it can be shared
between multiple pods, and also because its easy to setup...but I've got it to also work with Ceph and Gluster as well.  Take a look at one of the NFS examples within the Openshift examples directory.  Also, w

[2016-09-14 18:05] #17 closed, assigned to nobody

[2016-09-14 18:06] jmccormick2001 commented on #15
done, merged into master, the latest pgadmin4 will be used for the container image build.

[2016-09-14 18:06] #15 closed, assigned to nobody

[2016-09-14 18:14] jmccormick2001 commented on #14
done, merged into master, it now will use pgbadger 9.0 and will land in 1.2.3 release of the containers.

[2016-09-14 18:14] #14 closed, assigned to nobody

[2016-09-21 19:57] jmccormick2001 opened #19 "pgbackrest support"
feature request to support pgbackrest

[2016-09-21 20:04] jmccormick2001 opened #20 "allow checksums in the database"
make this configurable, by default it is disabled, allow user to turn it on via env var, initdb section...see if Greg has some docs on the usage of this that can be added to the docs.

[2016-09-22 18:58] jmccormick2001 commented on #20
committed a change into master for this...this will be seen in the next release, 1.2.3 soon to be released.

[2016-09-22 18:58] #20 closed, assigned to nobody

[2016-09-22 19:41] jmccormick2001 commented on #4
I've written the initial PITR support, see pitr.asciidoc for details on how this works.  This feature will land in the 1.2.3 release which is to be dropped soon.

[2016-09-22 19:41] #4 closed, assigned to nobody

[2016-09-27 14:08] jmccormick2001 opened #21 "badger - reduce image"
reduce the image by removing the postgresql server dep

[2016-09-27 20:17] jmccormick2001 commented on #21
fixed, will land in 1.2.3 release

[2016-09-27 20:17] #21 closed, assigned to nobody

[2016-09-27 21:20] jmccormick2001 opened #22 "healthcheck and readiness probes in examples"
add healthcheck and readiness probes into examples

[2016-10-04 19:39] colemanserious opened #23 "crunchy-postgres: unable to create /pgdata/$HOSTNAME when using PVC. CrashLoop."
Running on kubernetes 1.3.  Set up pgdata volume as a PVC, which is getting served by an NFS system.  Note: if I use emptyDir for the volumes, no issue.  (But of course I can lose my data.)

Issue: Receiving a "mkdir: cannot create directory '/pgdata/postgres-deployment-1217853053-9wk6b': Permission denied", which finally causes a CrashLoopBackoff after enough attempts to retry.  (Note: container'

[2016-10-04 20:05] jmccormick2001 commented on #23
Hi, to help me debug this, what are the permissions set to on your NFS volume path?  also, are you running with selinux enabled?

[2016-10-04 20:21] colemanserious commented on #23
Not currently running with selinux enabled.  And permissions are root:root 777 within a share.  (Getting that info from someone who has direct access on the box : I'm currently just set up as a user within the kubernetes cluster.)

[2016-10-04 20:35] jmccormick2001 commented on #23
one more question, is the postgres UID/GID set up on your kube box?  these are normally set to UID=26 and GID=26.

[2016-10-04 21:32] colemanserious commented on #23
Within the startup script, I see it output that it has uid=26, groupid=26, etc.  I take that to mean that the container itself is comfortable with having a postgres user.  We're going to do some experiments tomorrow to see about making the NFS aware of the user directly.

[2016-10-04 21:35] jmccormick2001 commented on #23
within the container it will know about the postgres UID/GID because postgres is installed inside the container, but outside of the container where kube/nfs live, it will need to have the same UID/GID available.

[2016-10-04 21:40] jmccormick2001 commented on #23
let me know how it goes tmorrow, but I think you are on the right track.

[2016-10-05 15:41] colemanserious commented on #23
Working to get someone to add the UID knowledge to the NFS server, and will post results once we have them.  That said, this seems to be a problematic solution for a persistent volume claim environment.  Bad for static provisioning (pre-set), worse for dynamic provisioning.  Much digging around docker issues (docker issue #2259 seems relevant) and Google Groups hasn't cracked the code as yet, thou

[2016-10-05 15:59] jmccormick2001 commented on #23
I tried just now to run the examples/kube/master-nfs example without a postgres UID or GID defined, it works on my system.  It just sets the UID/GID on the nfs created directory to 26/26.  My NFS /etc/exports file is like this:  /nfsfileshare 192.168.0.102(rw,sync)

see if you can run that example and send me the log output to further debug.  I'm using the latest postgres container version 1.2.3 o

[2016-10-05 16:55] colemanserious commented on #23
Using Postgres container version 1.2.11, getting the following:
(Snippets below, since our corporate servers are disconnected from the Internet.)

setting PGROOT to /usr/pgsql-9.5
chown: cannot access '/pgdata/master-nfs': No such file or directory
mkdir: cannot create directory 'pgdata/master-nfs': Permission denied
chmod: cannot access '/pgdata/master-nfs': No such file or directory
- source /op

[2016-10-05 18:41] jmccormick2001 commented on #23
one more question to make sure I'm testing your same config, are you building the containers using RHEL as the base image?  and running Kube on a RHEL box?

[2016-10-05 18:55] colemanserious commented on #23
We've imported the crunchydata containers directly.  Although we have to import them to make them available in our corporate environment, believe they're a straight pass-through with no change.  Currently just using the crunchy-postgres image, though intending to take advantage of backup, etc.

Kube master (and the nodes) are running on CentOS, without SELinux enabled.

[2016-10-05 19:39] jmccormick2001 commented on #23
I just created a new VM, this one is RHEL7, I built kube 1.3.8 on it by compiling the source code for kube, I installed NFS according to the instructions in the install.asciidoc section on NFS, I then ran the crunchy-postgres 1.2.3 container, with selinux on permissive mode it seems to work...if I turn on enforcing I get the mkdir permission error...not sure how else to debug this one just yet but

[2016-10-11 14:45] colemanserious commented on #23
Quick update: we've tested both by adding a postgres user to the NFS server and to the k8s master.  No dice in either.  We had the benefit of someone from CrunchyData who swung by, so not asking for additional info from Jeff - just saying this is still not quite yet figured out, in case anyone else is following this issue.

[2016-10-11 16:09] jmccormick2001 commented on #23
I know that one customer I worked with recently had some NFS issues, the issues were caused by the NFS version on the NFS server versus the NFS client versions on the Openshift servers.  OSE was being very picky about which versions it supported.

[2016-10-14 11:30] syamgk opened #24 "application not being able to connect via pgpool"
While trying to run mattermost on openshift.
It's working successfully if connects directly to master postgresql instance
and when tries connecting via pgpool it is failing and throwing the below error:

[code]

[2016-10-14 19:14] jmccormick2001 commented on #24
hmmn, if you could send me the logs from when you create the pgpool container I'll take a look.

[2016-10-16 02:54] jerrywardlow opened #25 "Incorrect environment variable name in install.asciidoc"
The environment variable being set in [Step 1](https://github.com/CrunchyData/crunchy-containers/blob/master/docs/install.asciidoc#step-1---project-directory-structure) of the installation docs is named incorrectly. Currently it is `CCP_IMAGE` but is referenced in the next line as `CCP_VERSION`. This causes the `pull-from-dockerhub.sh` script to fail.

[2016-10-16 18:52] syamgk commented on #24
build logs  and the way to build it are here,
https://pad.riseup.net/p/build_log

[2016-10-17 14:34] jmccormick2001 commented on #25
thanks, just fixed it and pushed it to master.

[2016-10-17 14:34] #25 closed, assigned to nobody

[2016-10-17 14:41] jmccormick2001 commented on #24
thanks, could you send next the Openshift JSON template you are using to create the pods?

[2016-10-17 14:44] jmccormick2001 commented on #24
also, your pgpool config files you are using if possible would be useful to review.

[2016-10-17 15:04] syamgk commented on #24
Here you can find the JSON files,
https://gitlab.com/sgk/mattermost
and the pgpool conf here,
https://github.com/syamgk/crunchy-containers/tree/master/conf/pgpool

thanking you too, also please do ask if more info is needed from my side

[2016-10-17 15:15] syamgk commented on #24
might need to change the image to the custom build one
https://gitlab.com/sgk/mattermost/blob/master/pgpool-rc.json#L90

[2016-10-17 17:48] jmccormick2001 commented on #24
see if you can connect using the psql client as follows:

psql -h pgpool.pgproject.svc.cluster.local -U testuser userdb

here you will replace pgproject with your openshift project you have chosen.  Once you connect,
see if you can create a table and query it.

[2016-10-17 19:38] syamgk commented on #24
I am being able to connect to the db using psql, even while running mattermost across pgpool the user-creation, chat and everything is working properly.
this is happening only while accessing system console and some other points.
Ref: http://forum.mattermost.org/t/mattermost-fails-connecting-to-pgpool/2369

And everything is working fine if run it across master container or any other single instan

[2016-10-17 19:52] jmccormick2001 commented on #24
probably what is happening is the application (mattermost) is trying to use a database/user combination that is not configured within the pgpool configuration is my guess based on this log message, probably something the app developers can take a look at.  you might look at your postgres container as the postgres user and see what databases/users the application has created if any to better debug

[2016-10-17 21:19] jmccormick2001 commented on #23
if you can provide me the details on NFS versions (server and kube host), I could take a try at debugging this more...also OS version would be useful on both the NFS server and Kube host.

[2016-10-18 14:09] syamgk commented on #24
all tables are owned by testuser in this case and mattermost is trying to access the db as testuser
and the same container is working fine without any errors if directly connects to master( postgres instance in the cluster). so I suspect it might be some problem happening in the pgpool area.

[2016-10-18 14:30] jmccormick2001 commented on #24
just to confirm, are **all** the mattermost tables created in the 'userdb' database and owned by the 'testuser'?  If any of the mattermost tables are in the 'postgres' or other database you'll see an error from pgpool.

[2016-10-18 20:31] jmccormick2001 opened #26 "create pgpool with /pgconf example"
create a pgpool example where you override the config files with a volume mount

[2016-10-18 20:32] jmccormick2001 opened #27 "fix restore example to prompt for the backup archive path"
remove the hardcoded backup path in the standalone restore example

[2016-10-18 20:33] jmccormick2001 opened #28 "run pgbouncer as non-root"
modify the container to run as non-root user

[2016-10-19 05:45] syamgk commented on #24
https://pad.riseup.net/p/pgtables
these are the tables inside userdb

[2016-10-19 07:03] syamgk commented on #24
can also reproduce it by running on docker using docker-compose
https://gitlab.com/sgk/mattermost-docker

[2016-10-19 21:36] jmccormick2001 commented on #24
you might turn on SQL logging in pgpool's config, this will tell you what SQL statement is triggering the error...log_statement when set to true will cause all the SQL statements to be logged inside the container to the pgpool log file.

[2016-10-20 18:10] jmccormick2001 opened #29 "support GCE-Kube deployment"
create examples and instructions on how to run the container in a GCE-Kube environment with persistent storage

[2016-10-24 14:20] jmccormick2001 commented on #27
merged

[2016-10-24 14:20] #27 closed, assigned to nobody

[2016-10-24 15:34] jmccormick2001 commented on #26
added code to pgpool container to better support an external /pgconf volume, also added openshift example that uses /pgconf.  merged.

[2016-10-24 15:34] #26 closed, assigned to nobody

[2016-10-24 18:53] jmccormick2001 commented on #28
merged, the container now runs as pgbouncer user instead of root user, it also uses nss_wrapper to be able to run in OSE.

[2016-10-24 18:53] #28 closed, assigned to nobody

[2016-10-27 15:27] balakrishnangithub commented on #29
+1

[2016-10-27 15:30] rimusz commented on #29
to be more correct, we need a Helm chart for the whole pack to work on any Kubernetes as GKE, GCE, AWS setup:

[code]

[2016-10-27 15:44] jmccormick2001 commented on #29
thanks for the input!

[2016-10-27 16:43] jmccormick2001 opened #30 "add statgo metrics"
integration statgo into the metrics collector, and push metrics to prometheus....

https://github.com/akhenakh/statgo

[2016-10-28 11:18] balakrishnangithub opened #31 "execute cannot be used while an asynchronous query is underway"
I have created a transaction which has 1000 inserts and executed it via pgpool but before the transaction completed I force terminated the client.
Now, I can able to SELECT that table via pgpool as well as directly via master. But on replica when I execute SELECT query I get the following error.

[code]

I installed my cluster using [kubehelm](https://github.com/CrunchyData/crunchy-containers/tree

[2016-10-28 15:36] mikejk8s commented on #23
I encounter this same situation when using a GCE Persistent Disk in k8s 1.4. I'm able to start up clusters when I don't assign the volume to /pgdata/ but that just means it uses /pgdata/ on the pod which of course is ephermal.

The mount to /pgdata/ works fine and it's accessible when I exec into the cluster, but only contains the lost+found after init. I figured it'd be a simple chown postgres bu

[2016-10-28 15:40] jmccormick2001 commented on #23
might require fsGroup: 26 to be added in the pod spec

[2016-10-28 15:52] mikejk8s commented on #23
Unfortunately no go. I'll dig into it and see if I can figure something out if there aren't any other suggestions. Thanks!

[code]

[code]

edit: I typoed fsGroup (big G) that actually seems to have done it!

[2016-10-28 19:26] jmccormick2001 commented on #23
just a guess,  but there appears to be some permission settings related to  disk that could make the disk read-only, you might verify that the GCE disk is not set to read-only within the GCE console.

[2016-10-28 19:27] jmccormick2001 commented on #23
ah, I just saw your edit on your earlier comment, sounds like the fsGroup worked for you.  I'll close this issue out if I don't hear back.

[2016-10-28 19:37] colemanserious commented on #23
update here: we added supplementalGroups to the securityContext, rather than using fsGroup.  But I understand that to be related to our use of shared storage (NFS) rather than block storage.

[2016-10-28 19:43] jmccormick2001 commented on #23
ah, good to hear, I'd not used supplementalGroups before for NFS issues, that is a good one to know about.

[2016-10-28 19:47] colemanserious commented on #23
Worthy to add to the examples / README / ...?  (fsGroup and or supplementalGroups)?

[2016-10-28 19:50] jmccormick2001 commented on #23
probably both, I have this in the examples/dedicated templates but only the fsGroup reference.  What I should do is include this in all postgres container examples to be consistent...I'll create a new Issue to capture that work.

[2016-10-28 19:51] jmccormick2001 opened #32 "add fsGroup and or supplementalGroups to all relevant kube examples for consistency"
fsGroup and or supplementalGroups

to avoid persistent disk issues, the use of fsGroup and/or supplementalGroups is used
in the spec examples....all of the kube/ose examples need to reflect this.

[2016-10-31 15:11] jmccormick2001 opened #33 "trap the SIGTERM and pass SIGINT to the postmaster"
for cleaner postgres shutdown, trap the SIGTERM and pass
SIGINT to the postmaster, handle docker stop/kill cases and docker daemon shutdown case

[2016-10-31 15:31] jmccormick2001 commented on #23
I'll close this issue out and have entered a new Issue to capture the
example updates as mentioned in this issue   #32

[2016-10-31 15:31] #23 closed, assigned to nobody

[2016-10-31 15:32] jmccormick2001 commented on #31
thanks for entering this issue, I'll see if I can recreate it, could be a problem in pgpool but I'm unsure at this point.

[2016-10-31 15:33] jmccormick2001 commented on #24
just checking to see if you had any updated status?  were you able to identify the SQL statements with pgpool logging?

[2016-10-31 17:19] jconway commented on #33
Looks correct to me.

[2016-11-01 10:28] balakrishnangithub commented on #31
@jmccormick2001 thanks for your reply one side note is that I accessed pgpool using HeidiSQL, which behaves different from pgadmin. pgadmin sends the whole query but HeidiSQL sends one by one i.e. semicolon seprated as one query so it gives more than enough time to interrupt the process.

[2016-11-01 12:19] balakrishnangithub commented on #31
@jmccormick2001  before I ran the transaction I manually deleted the 3 replica pods just to check weather the replication controller recreates it(actually playing cockpit-kubernetes topology ui). As expected pods gets recreated and also data in master and replica are equal so no problem at this point.

[2016-11-01 17:10] jmccormick2001 commented on #19
merged into master the start of pgbackrest support, there will be more features added in future release but for 1.2.5 this will include pgbackrest into the crunchy-postgres container by default and has a /backrestrepo volume, looks for pgbackrest.conf under /pgconf, if found will use pgbackrest as the archive command.

[2016-11-01 17:10] #19 closed, assigned to nobody

[2016-11-02 14:40] jmccormick2001 commented on #33
combined the start-pg-wrapper.sh and start.sh scripts into a single start.sh script to be consistent other containers in the suite, added a change to start.sh script to exec postgres, this allows SIGTERM (docker stop) to reach postgres whereby a clean postgres shutdown can be achieved.

[2016-11-02 14:42] jmccormick2001 opened #34 "example of statefulset using dynamic PVC"
this example would show stateful sets using dynamic PVCs

[2016-11-02 14:43] jmccormick2001 commented on #31
thanks, I'll close this one out.  cheers.

[2016-11-02 14:43] #31 closed, assigned to nobody

[2016-11-02 14:43] #24 closed, assigned to nobody

[2016-11-02 14:48] jconway commented on #33
Converting SIGTERM to SIGINT is important. See:

  https://www.postgresql.org/docs/9.5/static/server-shutdown.html

If you send SIGTERM, postgres will wait on any existing connections, which means it could wait a very long time. If that happens docker stop times out and postgres gets killed as before.

With SIGINT, a "fast shutdown" is done. This produces a clean shutdown while not waiting on exis

[2016-11-02 14:49] jmccormick2001 commented on #33
ah!

[2016-11-02 16:01] jmccormick2001 commented on #33
it appears to be working now..I put an explicit trap in the script to catch both INT and TERM
signals, when caught, it will send SIGINT to the postgres to stop it....

the pg log shows the following message to indicate the shutdown...

2016-11-02 11:52:33 EDT [27]: [4-1] user=,db=,app=,client=LOG:  received fast shutdown request

[2016-11-02 16:01] #33 closed, assigned to nobody

[2016-11-02 16:02] jconway commented on #33
Perfect -- thanks!

[2016-11-03 13:25] jmccormick2001 commented on #32
use this when NFS is the storage type, set the group IDs to match that of the NFS group ID...

  "supplementalGroups": [
        5555,
        6666
      ]

for NFS , supplementalGroups is the method to use, not fsGroup, for block storage use fsGroup...confusing?  surely not!

[2016-11-03 13:29] jmccormick2001 opened #35 "replace sleep when replica waits for master"
replace the sleep in the postgres script when the replica waits for the master to become ready

[2016-11-03 14:09] jmccormick2001 opened #36 "add signal trap to pgadmin4 start.sh"
similar to the postgres signal trap, add to better shutdown pgadmin4, it uses a sqllite db internally so a clean shutdown here is preferred.

[2016-11-03 14:17] jmccormick2001 commented on #36
also pgbouncer and pgpool to be consistent.

[2016-11-03 16:03] jmccormick2001 commented on #32
merged, now all NFS examples will use supplementalGroups, the OSE dedicated will use fsGroup since those are targeted towards a Dedicated envionrment that uses AWS block storage which requires fsGroup instead.  The dedicated template examples could be duplicated to provide a set of templates for non-block storage at some future point.

[2016-11-03 16:03] #32 closed, assigned to nobody

[2016-11-03 16:33] jmccormick2001 opened #37 "support pg 9.6"
create dockerfiles for postgres 9.6

[2016-11-04 18:50] jmccormick2001 commented on #22
merged in examples across openshift, kube, and openshift template projects, users will now see a liveness and readiness probe in the postgres  container specs.

[2016-11-04 18:50] #22 closed, assigned to nobody

[2016-11-04 21:24] jmccormick2001 commented on #35
merged in an improved wait for the replica

[2016-11-04 21:24] #35 closed, assigned to nobody

[2016-11-09 11:30] balakrishnangithub commented on #31
@jmccormick2001 sorry, I'm actually trying to say that replication is not the suspect but what happen next to replication is, which is  _insert transaction_ that I mentioned. I don't know what caused this issue and also I can't able to find a solution so I just reinstalled the crunchy postgresql.

[2016-11-09 22:44] prlaurence opened #39 "support pgaudit"
add support for pgaudit extension [https://github.com/pgaudit/pgaudit](url)

[2016-11-10 20:36] jmccormick2001 opened #40 "change crunchy-watch to run as normal user"
need to change the container to run as normal user instead of root to match other containers and allow it to run in locked down OSE/kube environments.

[2016-11-11 19:29] jmccormick2001 opened #42 "evaluate coreos operator"
evaluate for applicability

[2016-11-11 19:29] jmccormick2001 opened #43 "evaluate coredns for applicability"
evaluate coredns as a replacement for crunchy-dns current implementation

[2016-11-11 19:30] jmccormick2001 opened #44 "evaluation deis for applicability"
evaluate deis for applicability

[2016-11-11 19:36] jmccormick2001 opened #45 "create configmap example"

[2016-11-11 19:41] jmccormick2001 opened #46 "evaluate init container usage"
evaluate the applicability of the new 'init container' functionality in kube/ose

[2016-11-11 22:17] jmccormick2001 opened #47 "evaluate kompose applicability"
evaluate kompose applicability for kube examples

[2016-11-11 22:19] jmccormick2001 opened #48 "refactor automated test suite for kube"

[2016-11-11 22:19] jmccormick2001 opened #49 "refactor automated test suite for Docker examples"

[2016-11-11 22:19] jmccormick2001 opened #50 "refactor automated test suite for openshift"

[2016-11-11 22:22] jmccormick2001 opened #51 "cleanup examples for consistency"
general catch all issue to cover the cleanup of all examples and example docs, directories should match up better across environments, docs should match up across environments, removal of outdated or unsupported or unnecessary examples across all environments

[2016-11-14 17:33] jmccormick2001 commented on #40
merged into master, it now runs as postgres user

[2016-11-14 17:33] #40 closed, assigned to nobody

[2016-11-14 22:51] jmccormick2001 commented on #36
merged in pgadmin4 changes

[2016-11-14 22:58] Hepri opened #52 "Missing 9.5-1.2.5 crunchy-postgres tag"
Please add this build to your docker hub

[2016-11-14 23:22] jmccormick2001 commented on #45
oc create configmap postgresql-conf  --from-file=postgresql.conf  --from-file=pghba=pg_hba.conf

Since the map is essentially key/value pairs, this creates a map using the filename as the key, and the contents of the file as the value. You can see the syntax is a little funky for the pg_hba.conf file. That's because keys containing underscore are not allowed by naming convention. So you can't have

[2016-11-15 00:28] jmccormick2001 commented on #36
merged in for pgpool and pgbouncer containers

[2016-11-15 00:28] #36 closed, assigned to nobody

[2016-11-15 00:48] jmccormick2001 commented on #52
just pushed it up there, the rest of the 1.2.5 release will drop later this week.

[2016-11-15 00:48] #52 closed, assigned to nobody

[2016-11-21 22:16] jmccormick2001 opened #53 "example of using syslog for postgres logs"
enable syslog for postgres logs

[2016-11-23 15:52] dsapala opened #54 "Why have the watch and pgbouncer since they both seem to do failover?"
@jmccormick2001 is this a pick and choose type of thing or are these two containers meant to be run at the same time?  I only see the watch container in the diagram.

[2016-11-23 16:49] jmccormick2001 commented on #54
Hi,  thanks for you question...this is indeed a case where you can pick and choose the deployment based on your use case.  For folks that need connection pooling, I found a lot of them like pgbouncer.  After offering that container up, it was pointed out to me that it offered a failover mechanism which I also exposed for folks to use.

I wrote crunchy-watch purely as a means to do a form of automa

[2016-11-23 16:49] #54 closed, assigned to nobody

[2016-11-23 16:54] dsapala commented on #54
Excellent!  Thank you for the detailed answer!!!  Any hint as to what program that new container will be based on?

[2016-11-23 17:01] jmccormick2001 commented on #54
all new golang code :^))  Apache V2 license.

[2016-11-23 17:02] dsapala commented on #54
Very cool. We'll definitely be watching to see that. Thank you for your contributions.

[2016-11-27 01:09] jmccormick2001 commented on #8
http://blog.arungupta.me/health-check-docker-containers/

new for docker...also add healthcheck per this example

[2016-11-28 01:09] jmccormick2001 opened #55 "crunchy-dba - evaluate pulling PV and PVC creation outside"
re-evaluate the PV/PVC creation, where it occurs specifically.

[2016-11-28 16:39] jmccormick2001 commented on #39
merged into master, will land in the 1.2.6 release, this change adds pgaudit to the crunchy-postgres container, enables it by default in setup.sql and within the default postgresql.conf file.

[2016-11-28 16:39] #39 closed, assigned to jmccormick2001

[2016-11-28 18:25] jmccormick2001 commented on #45
merged in an example for openshift, thanks Chris Fort!

[2016-11-28 18:25] #45 closed, assigned to nobody

[2016-11-28 19:45] jmccormick2001 opened #56 "NFS permissions correction"
in the docs and examples, make sure NFS permissions are realistic with nfsnobody as the group owner, and not 777 on the perms, but rather 775

[2016-12-06 23:06] jmccormick2001 commented on #8
done, merged into master.  see examples/docker/swarm-service for the example...standalone.asciidoc is renamed to docker.asciidoc as well.

[2016-12-06 23:06] #8 closed, assigned to nobody

[2016-12-09 16:47] jmccormick2001 commented on #51
done, merged in updates/cleanups for all examples.

[2016-12-09 16:47] #51 closed, assigned to nobody

[2016-12-11 11:21] fer-marino opened #57 "liveliness and readiness probe broken in openshift"
hi,
as the subject says, those probes are broken in the examples with image tag centos7-9.5-1.2.5.

it looks like you have to manually pass the username to the commands to make them work.

I've tested it with the latest version of minishift (0.9.0) and openshift (1.3.1) with the test environment you get with oc cluster up.

regards,
fernando

[2016-12-12 08:59] App-247 opened #58 "Enviroment variable SLAVE_TO_TRIGGER_LABEL not used in watch kube example"
Environment variable **SLAVE_TO_TRIGGER_LABEL** declared in **watch-pod.json** but not used in **start-watch.sh**.

[2016-12-13 22:28] App-247 opened #59 "Permission denied in Crunchy Watch failover function"
Hi, running crunchy-watch in Google Cloud Platform, pod logs shows error:
[code]
Permissions in **/opt/cpm/bin**:
[code]

[2016-12-14 08:33] sp1ze opened #60 "Issues with getting container cluster on minikube to run properly"
Hi,

I'm currently trying to setup crunchy-containers/examples/kubehelm/crunchy-postgresql-cluster/ on minikube. It seems that my master pod never gets created properly. It is is status "Waiting: ContainerCreating"

I'm following this tutorial by Jeff McCormick: http://blog.kubernetes.io/2016/09/creating-postgresql-cluster-using-helm.html?m=1

There is only one line in the logs for the master pod:

[2016-12-14 14:22] jmccormick2001 commented on #60
Hi,

could be the image is not on that host for some reason, do a 'docker images' and make sure the crunchy container image with that tag is there.  Also, if you could supply the output of a 'kubectl get pod xxx -o yaml' I'll see if I spot anything there.

[2016-12-14 14:59] sp1ze commented on #60
Hi Jeff and thanks for the quick reply.

The image exists on the host:
REPOSITORY                     TAG                 IMAGE ID            CREATED             SIZE
crunchydata/crunchy-postgres   centos7-9.5-1.2.5   2fa835097be0        3 weeks ago         652.2 MB

I noticed one thing during the day, and that is the use of NFS volume in the values.yaml
I hosted my own NFS server that i could con

[2016-12-14 15:40] jmccormick2001 commented on #60
you might want to check out the
PVC status, run 'kubectl get pvc', see if the PVC is bound to the PV...also you can run 'kubectl get pv' to see if the PV was created...you can also run a test of your NFS client locally to see if NFS is working...check out the docs here for NFS:  http://www.itzgeek.com/how-tos/linux/centos-how-tos/how-to-setup-nfs-server-on-centos-7-rhel-7-fedora-22.html

that link

[2016-12-14 15:45] jmccormick2001 commented on #58
thanks for pointing this out...somehow this env var got lost!  I've recreated the logic for supporting this env var, updated the docs and examples...this will require a new container image build to pull in this fix...the feature will land in the upcoming 1.2.6 release when we push out new container images.

[2016-12-14 15:45] #58 closed, assigned to nobody

[2016-12-14 15:49] jmccormick2001 commented on #59
I see the problem, the kubectl command was not included correctly in the image, I'll push out a fix today for this.

[2016-12-14 16:09] jmccormick2001 commented on #59
ok, just pushed a new 1.2.5 watch  container to dockerhub, this one will also include the fixes for the SLAVE_TO_TRIGGER env var as well.

[2016-12-14 16:27] sp1ze commented on #60
PV has been created:
kubectl get pv
NAME                                       CAPACITY   ACCESSMODES   STATUS    CLAIM                              REASON    AGE
master-nfs-pv                              400M       RWX           Bound     default/master-nfs-pvc                       1h

PVC is bound to the PV:
kubectl get pvc
NAME                       STATUS    VOLUME

[2016-12-14 22:59] #59 closed, assigned to nobody

[2016-12-14 23:02] jmccormick2001 commented on #57
Hi,

what error are you seeing in your logs?

[2016-12-15 12:26] fer-marino commented on #57
psql: local user with ID 1000080000 does not exist

that id is randomly generated by openshift. The probes shall uses the username to work:

      psql -U $PG_USER .....

[2016-12-15 13:52] jmccormick2001 commented on #57
ah, good catch, I'll work on this fix today.

[2016-12-15 16:35] jmccormick2001 commented on #57
I changed the probes now to be bash scripts, in those scripts they can reference vars like PG_USER, I've updated the openshift and kube examples to use those scripts, merged into master...the next release will include this by default, probably end of the month 1.2.6 will be tagged/pushed.  thanks for pointing this bug out!  cheers.

[2016-12-15 16:35] #57 closed, assigned to nobody

[2016-12-15 20:58] jmccormick2001 commented on #60
the best guess I have right now is that minikube appears to only support hostPath persistent volumes.  The helm example uses NFS, so you might have to modify the example to instead use hostPath PVs.

[2016-12-16 10:12] sp1ze commented on #60
Yeah I saw there where some open issues in the kubernetes project related to NFS and minikube not working properly.

I tried to use hostPath and the path was created successfully in the minikube singel node. Also the master pod started to create this time.

But somewhere it seems to be some kind of permission issue for the postgres pod to work with the hosPath.

I have attached the pod logs for mo

[2016-12-16 14:23] jmccormick2001 commented on #60
the pod should be running as the postgres user (uid=26), so the hostPath that gets mounted would need to be writable by the UID=26 user, you might check the permissions of the hostPath that minikube is using.  If I can get some time today I'll try it out but that is what I'd look for next.

[2016-12-16 17:04] jmccormick2001 commented on #56
I've updated the docs to state how the nfsnobody group settings and supplementalGroups should be set up when using NFS for persistent volumes.  tested on a clean Origin instance.

[2016-12-16 17:04] #56 closed, assigned to nobody

[2016-12-16 17:06] jmccormick2001 opened #61 "split out crunchy-postgres-gis from crunchy-postgres"
probably a good time to split out the GIS packages into a separate container when users need a postgres+postgis container....the postgres-gis would inherit from the postgres container to avoid duplication...

[2016-12-16 19:16] pvacca commented on #61
Sure. I've got a minor refactor for 9.6 just waiting to check in. Can split postgis out, too. Just as soon as the upgrade demo script runs beginning to end...
Github doesn't seem to be letting me assign to myself for some reason.

[2016-12-16 20:02] jmccormick2001 commented on #61
lets do a separate PR for the 9.6 support, then another PR for the upgrade container, if both of those get done, reviewed, merged, I'd like to add those into 1.2.6 next week.  After all that is done, we can address this one, probably for the 1.2.7 release.

[2016-12-16 20:07] thesteve0 commented on #61
Are you going to do that with other extensions as well?

If I understand right this will produce a new container in DockerHub right?

On Fri, Dec 16, 2016 at 12:02 PM, Jeff McCormick <notifications@github.com>
wrote:

[2016-12-16 20:22] jmccormick2001 commented on #61
yep, this would move the postgis+pgrouting extensions which are quite heavy into a new crunchy-postgres-gis container...the other extensions like pgaudit and pg_stat_statements and backrest are smaller, simpler, and not GIS related so I might leave them in the base pg container for the first cut.  This split would allow us to greatly extend the postgres-gis container in the future too.

[2016-12-16 20:28] thesteve0 commented on #61
Sounds good.
What about a more generic way to load other extensions?

http://pgxn.org/

https://github.com/dhamaniasad/awesome-postgres#extensions

Would S2I help with that?

On Fri, Dec 16, 2016 at 12:22 PM, Jeff McCormick <notifications@github.com>
wrote:

[2016-12-16 20:40] jmccormick2001 commented on #61
maybe, I definitely would like a smarter way to add extensions rather than having to add the packages directly within the Dockerfile, I'll take a look at these other techniques.

[2016-12-16 21:53] pvacca commented on #61
I actually have an idea on making the extensions more configurable at build
time with a docker in docker technique. Let's get the postgis extension
split out as discussed, and I can explain this in more detail after the
coming release is tested and ready to go.

On Dec 16, 2016 2:40 PM, "Jeff McCormick" <notifications@github.com> wrote:

[2016-12-22 01:25] jmccormick2001 commented on #60
any update?  I'll likely close this out unless I hear back as I think it is the way minikube is configured to work instead of anything in the example itself.

[2016-12-22 09:20] sp1ze commented on #60
I agree. It seem to exist some limitations within minikube.

[2016-12-22 09:20] #60 closed, assigned to nobody

[2016-12-23 20:36] jmccormick2001 opened #67 "collect container signal trap"
catch the sigterm and kill the collect container with a sigint

[2017-01-03 10:52] fer-marino opened #68 "single deployment config for master and slaves"
Hi,
I'm playing for a while with your container and I quite like it, anyway there is something that still bother me on how you handle master-slave streaming replication in your openshift examples.

I would simply use a single deployment config for all postgres instances, and then decide in the startup script if it is a master or a slave using a simple master election algorithm (lowest ip for examp

[2017-01-06 15:42] KonstantinCodes opened #70 "Failing v1.Secret Validation"
When installing the `kubehelm/crunchy-postgresql-cluster` example via helm, the following error occurrs:

[code]

[2017-01-06 17:36] jmccormick2001 commented on #70
thanks for finding this, just merged your PR for this fix.

[2017-01-06 17:36] #70 closed, assigned to nobody

[2017-01-06 17:49] jmccormick2001 commented on #68
thanks Fernando,

subsets and even service accounts and petsets too were not around when I initially wrote some of this, and  given that postgres can't scale masters I found it easier to implement them in separate pods.  I also use a master service and a replica service to front the cluster.  When I create the master, it is labeled to match the master service, the replicas are labeled to use the r

[2017-01-08 19:16] jmccormick2001 commented on #68
I've been thinking this weekend about your ideas on how a single deployment would work, I don't think it will be that much code to implement this and will work on a prototype of it, I'll make it an optional form of deployment to also support the current style of deployment.  With crunchy-watch, I already change the labels on a node to make it become a master so this should be pretty straightforwar

[2017-01-09 07:39] fer-marino commented on #68
Hi,
thank you for your answer. I've actually already done something myself:

    function master_discovery() {
        TOKEN_PATH="/var/run/secrets/kubernetes.io/serviceaccount/token";
        CRT_PATH="/var/run/secrets/kubernetes.io/serviceaccount/ca.crt";
        # PG_SERVICE is a new env variable that holds the postgres service name
        API_PATH="api/v1/namespaces/${OPENSHIFT_BUILD_NAMESPAC

[2017-01-11 17:12] jmccormick2001 opened #74 "bug - relocate backup directories"
on a master, currently backups are stored in PGDATA...this is causing issues
with restore and backups in various ways...the backups end up getting copied to the replica which
we don't want and rsync fails with multiple backup directories.

[2017-01-12 18:00] jmccormick2001 commented on #74
merged into master, now backups will be stored in a path of <containername>-backups, this will effectively move backup files out of the database container path....this fixes a bug where if you had a database  container and several backups, and then tried to create a replica, the replica would fail in the pg-basebackup.

[2017-01-12 18:00] #74 closed, assigned to nobody

[2017-01-12 19:32] jmccormick2001 commented on #61
merged in new dockerfiles for a new container, *crunchy-postgres-gis*, it is identical to *crunchy-postgres* except it includes the PostGIS and pgrouting packages...after this, the *crunchy-postgres* image no longer includes the GIS packages.  This will land in the upcoming 1.2.7 release.

[2017-01-12 19:32] #61 closed, assigned to nobody

[2017-01-13 20:24] dkoston opened #75 "pgbouncer-watch.sh has bugs on centos7 9.5"
This is found in crunchydata/crunchy-pgbouncer:centos7-9.5-1.2.6. May be in the other containers as well.

`/opt/cpm/bin/pgbouncer-watch.sh` calls out to `oc` in the `kube_failover()` function:

[code]

It calls ` oc exec $i touch /tmp/pg-failover-trigger`

this should be `kubectl exec $i touch /tmp/pg-failover-trigger`

Haven't gotten a chance to test yet but also would be nice to add `KUBE_PROJE

[2017-01-14 16:16] #75 closed, assigned to nobody

[2017-01-14 16:27] jmccormick2001 commented on #44
doesnt' seem to work in very many environments as I would have hoped, so I'm looking at coreos operator concepts instead.

[2017-01-14 16:27] #44 closed, assigned to nobody

[2017-01-14 16:36] jmccormick2001 commented on #68
I had some luck this week building a statefulset example that provides the clustering in a similar style to your example.  I use the ordinal value of the set to discover who should become the master.  I use PG_MODE=set as a value to indicate the deployment is within a statefulset.  I include the kubectl and oc commands within the postgres container to change the label on the master pod.  The examp

[2017-01-14 23:37] jmccormick2001 commented on #68
the next Origin release will be rebased on Kube 1.5, at that point I'll create a similar example that runs in Origin, apparently Openshift 3.5 is slated to be based on Kube 1.5 and is expected this summer.

[2017-01-14 23:37] #68 closed, assigned to nobody

[2017-01-17 16:46] jmccormick2001 commented on #67
merged in changes to support this, including changing CMD to ENTRYPOINT in the Dockerfiles to allow the signal to flow directly to the collectserver binary, possible since we don't do any special processing when starting up the collectserver binary, added signal trapping code into collectserver.go.

[2017-01-17 16:46] #67 closed, assigned to nobody

[2017-01-17 16:50] jmccormick2001 commented on #47
not really applicable since we don't use docker compose at this time.

[2017-01-17 16:50] #47 closed, assigned to nobody

[2017-01-18 16:56] jmccormick2001 commented on #46
right now I'm not seeing a good fit for init containers, perhaps in the future, there might be a case for some sort of custom cluster deployment or discovery mechanism being implemented as an init container but can't think of a good example right now.

[2017-01-18 16:56] #46 closed, assigned to nobody

[2017-01-19 17:28] jmccormick2001 commented on #55
merged...added HOME=/tmp to get around default write permission issue with /.kube...change dockerfiles for dba container to catch signal....updated examples to use crunchy project instead of default project.  After these changes, PVs are not created by the dba container any longer, PVCs are still created or reused.

[2017-01-19 17:28] #55 closed, assigned to nobody

[2017-01-19 20:06] jmccormick2001 opened #77 "pull out hard-coded OSE and Kube project names in various examples"
implement an env variable to hold the desired project name, right now they are hardcoded.

[2017-01-19 20:07] jmccormick2001 opened #78 "pull out hardcoded NFS path and server"
in various NFS examples, the path is hardcoded, also the LOCAL_IP is assumed, it would be better to pull those out in favor of 2 new env variables.

[2017-01-25 20:32] jmccormick2001 opened #79 "add templates to openshift community template project"
see about adding our templates here

https://github.com/openshift/library#community

[2017-01-30 12:51] testark opened #81 "A few questions about 'crunchy-watch'..."
I'd like to ask a few questions about this particular line:

https://github.com/CrunchyData/crunchy-containers/blob/1.2.6/bin/watch/start.sh#L121

1) Is there any reason for the fixed one-minute sleep period?
2) Could this be made configurable via an environment variable?
3) What would be the consequences of setting the label right away instead of sleeping?

[2017-01-30 21:46] jmccormick2001 commented on #81
Hi,  the sleep is necessary to give some time for the postgres slave to perform the failover, this takes a few seconds....if you didn't do that sleep before the label change, it would be possible for clients to start accessing the new master before it has finished the failover procedure, this would throw errors back to the client....but you are right, it would be a good thing to have that 60 be co

[2017-01-30 21:46] #81 closed, assigned to nobody

[2017-01-30 22:07] jmccormick2001 opened #82 "crunchy-watch - make wait time configurable"
introduce the WAIT_TIME env var to control how long to wait for a failover to occur in a slave before changing the label.

[2017-01-30 22:14] jmccormick2001 commented on #37
merged, 9.6 support will land in release 1.2.7

[2017-01-30 22:14] #37 closed, assigned to pvacca

[2017-01-30 22:14] jmccormick2001 commented on #82
WAIT_TIME is merged and docs updated to reflect this new env var.

[2017-01-30 22:14] #82 closed, assigned to nobody

[2017-01-30 22:15] jmccormick2001 commented on #81
you will see WAIT_TIME added into version 1.2.7 which is about to land, with that env var you will be able to override the 60 seconds.

[2017-01-30 22:47] jmccormick2001 opened #83 "create openshift statefulset example"

[2017-01-30 22:48] jmccormick2001 opened #84 "create crunchy-proxy examples"

[2017-02-09 22:41] jmccormick2001 commented on #78
added NFS_PATH to envvars.sh, also created small set of PV and PVCs in examples/openshift and examples/kube directories enabling the removal of many pv and pvc json examples spread out across all the kube and openshift examples....this is merged into 1.2.8

[2017-02-09 22:41] #78 closed, assigned to nobody

[2017-02-09 22:42] jmccormick2001 commented on #49
merged PR from Phil for this one, cct directory now exists for docker tests.

[2017-02-09 22:42] #49 closed, assigned to pvacca

[2017-02-13 17:06] jmccormick2001 commented on #77
merged in changes to envvars.sh to hold a NAMESPACE env var, and updated the examples to refer to that env var instead of hard-coding, also updated docs to indicate new env var to set.

[2017-02-13 17:06] #77 closed, assigned to nobody

[2017-02-14 19:32] jmccormick2001 commented on #84
done, merged.

[2017-02-14 19:32] #84 closed, assigned to nobody

[2017-02-14 21:10] jmccormick2001 commented on #83
created examples/openshift/statefulset example and add docs....merged.

[2017-02-14 21:10] #83 closed, assigned to nobody

[2017-02-16 20:23] mpalmi opened #88 "investigate hard-coded waits in setup script"
@jmccormick2001 one of the scripts is using hard-coded waits for replica spin-up.

[2017-02-17 20:35] jmccormick2001 commented on #88
I've merged in a change to bin/postgres/start.sh to use pg_isready in a loop instead of the
previously hard-coded sleep.  This change will land in release 1.2.9.

[2017-02-17 20:35] #88 closed, assigned to nobody

[2017-02-17 21:58] jmccormick2001 opened #89 "allow for hostname overrides in postgres container"
create a hostname override env var, and create an example of using it with a Deployment of a master that can handle restarts/deletes on the pod.

[2017-02-23 15:17] aleksarias opened #90 "Kubernetes Helm Install: Replica Container Errors Out with "postgres: could not find the database system""
I followed the installation instructions for Kubernetes Helm. The master starts up and is running. However, the replica pod is dying since it cannot find the database.
It seems like it may be related with SYNC_SLAVE not being set?

Here's the run log output:

[code]

[2017-02-23 16:45] aleksarias commented on #90
Actually....on the master container, I created my own database, filled it with some data, and this issue was resolved.

[2017-02-23 16:45] #90 closed, assigned to nobody

[2017-02-23 21:30] shaneog commented on #29
Is this available anywhere yet? I've just discovered this project and would love to run it on Kubernetes on GKE.

[2017-02-23 21:34] aleksarias opened #91 "Master Pod Durability on Kubernetes"
Following the example for Kubernetes Helm the master pod lacks durability. Is there any way that we can make this pod durable?
I had a node die which contained the master pod. The master pod never came back since it didn't have a replication controller or deployment.

[2017-02-24 06:10] aleksarias commented on #91
Here's what I did to switch the master from a Pod to a Deployment release.

1. Changed to use latest Postgres container:
    crunchydata/crunchy-postgres:centos7-9.6-1.2.8
2. Created a deployment YAML for the master. Make sure to set the PGDATA_PATH_OVERRIDE environment variable. Otherwise, the database will be created with pod's host name. If this occurs, then every time the pod restarts it gets

[2017-02-24 06:10] #91 closed, assigned to nobody

[2017-02-25 16:41] jmccormick2001 commented on #29
I've not yet verified that everything works on a GCE deployment, still something I want to do however...but I have heard of others getting most of it to work so i'm optimistic about it...I hope to get to this soon.

[2017-02-25 16:42] jmccormick2001 commented on #89
merged.

[2017-02-25 16:42] #89 closed, assigned to jmccormick2001

[2017-02-25 16:42] jmccormick2001 opened #92 "update postgresql.conf templates"

[2017-02-28 14:48] jmccormick2001 commented on #42
planning for support (in some form) as it seems viable at this point.

[2017-02-28 14:48] #42 closed, assigned to nobody

[2017-02-28 15:16] jmccormick2001 commented on #43
with docker 1.12, it includes service discovery, internal DNS, and a Service concept that lets you map real host ports to container (service) ports.  With that change in Docker's architecture I think we can close out this issue for now and just depend on the new docker features as a suitable replacement.

[2017-02-28 15:16] #43 closed, assigned to nobody

[2017-03-06 19:55] jmccormick2001 opened #94 "make sure PG_MASTER_HOST is set when PG_MODE is slave"
add a check in postgres/start.sh
that when PG_MODE is slave, that PG_MASTER_HOST env var is set to a value, if not
error.

[2017-03-07 18:09] pvacca commented on #94
Hi, Jeff, is there any reason not to solve this by adding `set -u` to the top of start.sh? This will ensure that all variables have value when they are referenced.

[2017-03-07 20:33] jmccormick2001 commented on #94
this particular variable, PG_MASTER_HOST, is only required when PG_MODE is slave so some 'if' logic is required here to present a good error message.

[2017-03-11 02:13] jmccormick2001 opened #96 "create a new default setup.sq for the postgres-gis container to use"
the default setup.sql script contains GIS objects in it, these create errors in the logs when running with the non-GIS postgres container.

[2017-03-11 18:36] sonamsamdupkhangsar opened #97 "Please create a crunchy-postgresql-cluster for CoreOS"
Can you create a  crunchy-postgresql-cluster for CoreOS.

It seems like it could almost work except for a CentOS specific docker image for Postgresql in the values.yaml file (PostgresImage: crunchydata/crunchy-postgres:centos7-9.5-1.2.5)

Any help appreciated.

[2017-03-16 04:49] cdelpinogeo opened #99 "Issues getting postgis up and running"
Hello,

I am trying to deploy the crunchy-postgres-gis image to my Kubernetes cluster using these instructions:

http://blog.kubernetes.io/2017/02/postgresql-clusters-kubernetes-statefulsets.html

I am substituting the gis image for the standard Postgres image in the instructions. The deployment goes well, but seeing this in the logs:

[code]

and

[code]

Any ideas on what could be missing? Thank

[2017-03-16 04:52] thesteve0 commented on #99
Have you tried the standard image and then just create extension in the db
you want? I think the images include PostGIS already, even in the standard
containers.

On Wed, Mar 15, 2017 at 9:49 PM, Christian Del Pino <
notifications@github.com> wrote:

[2017-03-16 16:24] jmccormick2001 commented on #94
change has been merged into bin/postgres/start.sh, will land in the 1.2.9 release.

[2017-03-16 16:24] #94 closed, assigned to jmccormick2001

[2017-03-16 16:27] jmccormick2001 commented on #99
I'll take a look.

[2017-03-16 16:48] jmccormick2001 commented on #99
docker.io/crunchydata/crunchy-postgres-gis               centos7-9.5-1.2.8   66a3ba338a27

I just tested the above version on Kube 1.5 using hostPath for the PV...It appears to work as normal.  If you could attach the logs for pgset-0 and pgset-1 I'll take a deeper look.

[2017-03-16 16:51] jmccormick2001 commented on #97
Hi,   just wanted to clarify your question, are you wanting the
examples/kubehelm/crunchy-postgresql-cluster example to work on a CoreOS Kubernetes cluster?
if so, what errors are you getting?

[2017-03-16 17:05] sonamsamdupkhangsar commented on #97
I am able to run it on CoreOS now.  But when I shell into the pod it seems
to take a lot of cpu resources and then the crunchy-master and replica
instances remain in unknown states.  I think I need to figure out whys of
it.

thanks
-Sonam

On Thu, Mar 16, 2017 at 10:51 AM, Jeff McCormick <notifications@github.com>
wrote:

[2017-03-16 17:07] cdelpinogeo commented on #99
Thanks Steven. The standard image worked and will see if PostGIS is already
there.

Chris

On Thu, Mar 16, 2017 at 12:52 AM, Steven Pousty <notifications@github.com>
wrote:

--
Christian Del Pino
DevOps Engineer
Boundless | www.boundlessgeo.com
Email: cdelpino@boundlessgeo.com

[2017-03-16 17:07] cdelpinogeo commented on #99
Thanks Jeff.

I'll give it another go. I was able to install the standard image without
any issues, so let me try again. Thanks.

Chris

On Thu, Mar 16, 2017 at 12:48 PM, Jeff McCormick <notifications@github.com>
wrote:

--
Christian Del Pino
DevOps Engineer
Boundless | www.boundlessgeo.com
Email: cdelpino@boundlessgeo.com

[2017-03-16 20:20] jmccormick2001 commented on #96
merged in bin/postgres-gis/setup.sql and adjusted the Dockerfiles for postgres-gis to also pull in that new setup.sql, this will avoid the setup.sql errors in the normal postgres container due to missing gis extensions.  THis will land in the 1.2.9 release end of the month.

[2017-03-16 20:20] #96 closed, assigned to nobody

[2017-03-16 20:21] jmccormick2001 commented on #92
added a new postgresql.conf.template using a postgres 9.6 conf file as the base template.  THis is merged in and will land in release 1.2.9.

[2017-03-16 20:21] #92 closed, assigned to nobody

[2017-03-16 21:33] jmccormick2001 commented on #97
make sure your kube DNS pod is working properly is the first thing I would check, if that is working, you could send me your logs and I'll take a look.

kubeadm15 jeffmc~]: kubectl get pod --namespace=kube-system
NAME                                READY     STATUS    RESTARTS   AGE
dummy-2088944543-nbbd2              1/1       Running   5          9d
etcd-kubeadm15                      1/1

[2017-03-17 15:37] sonamsamdupkhangsar commented on #97
I don't have a dns setup.  My setup is on DigitalOcean with CoreOS.

When I launch a springboot app with 3 replicas the master-crunchy pod
disappears after like 1 hour.  How would I relaunch the master and still
use the same data created from previous session's nfsfileserver data?

thanks
-Sonam

On Thu, Mar 16, 2017 at 3:33 PM, Jeff McCormick <notifications@github.com>
wrote:

[2017-03-17 19:54] jmccormick2001 commented on #97
if you can send me the master pod's log I'll take a look and see what is going on.

the pod normally creates a subdirectory on the PVC that you pass to it, that subdirectory
uses the pod's hostname by default...so if the master pod is 'master', you will see
a 'master' directory on the PVC.

if a pod called 'master' starts up and sees that a directory 'master' is already there with the postgres dat

[2017-03-18 00:40] saurabhjha1 opened #100 "Postgres persistent data directory cannot be overidden"
Hi,

I am trying to launch Postgres on Docker swarm using the following code. Everytime the docker restarts the container show data_directory points to the new container id. I need to be able to use consistent data_directory across all instantiations of Postgres master.

I tried to override this setting using cmd shown below. However, that did not work as well.
 --env PGDATA_PATH_OVERRIDE=persiste

[2017-03-21 12:32] jmccormick2001 commented on #100
Hi,

try this image:   crunchydata/crunchy-postgres:centos7-9.5-1.2.8

the env var PGDATA_PATH_OVERRIDE was not supported till the 1.2.8 version.

regards

[2017-03-21 12:33] jmccormick2001 commented on #99
any luck Chris?

[2017-03-21 13:21] cdelpinogeo commented on #99
Hi Jeff,

Apologies for not responding sooner.

Yes, it worked. The issue was with the efs share and it having the needed
directories. Once I fixed it, it worked fine.

Thanks,
Chris

On Tue, Mar 21, 2017 at 8:33 AM, Jeff McCormick <notifications@github.com>
wrote:

--
Christian Del Pino
DevOps Engineer
Boundless | www.boundlessgeo.com
Email: cdelpino@boundlessgeo.com

[2017-03-21 13:29] jmccormick2001 commented on #99
excellent!  I'll close this one out.  regards.

[2017-03-21 13:29] #99 closed, assigned to nobody

[2017-03-23 12:33] jmccormick2001 opened #101 "upgrade grafana container to latest release"

[2017-03-23 12:52] jmccormick2001 opened #102 "rename BUILDBASE to CCPROOT"

[2017-03-27 19:37] #100 closed, assigned to nobody

[2017-03-27 19:37] #97 closed, assigned to nobody

[2017-03-28 21:09] jmccormick2001 commented on #101
merged, next release, 1.3, will include the latest version of grafana, prometheus push gateway, and prometheus.

[2017-03-28 21:09] #101 closed, assigned to nobody

[2017-03-29 13:42] jmccormick2001 commented on #102
merged, after this change master and the next release 1.3 will use CCPROOT instead of BUILDBASE in all scripts and examples

[2017-03-29 13:42] #102 closed, assigned to jmccormick2001

[2017-03-29 21:54] jmccormick2001 commented on #53
moving to projects tab under dev tasks

[2017-03-29 21:54] #53 closed, assigned to nobody

[2017-03-29 21:55] jmccormick2001 commented on #50
moving to projects tab under dev tasks

[2017-03-29 21:55] #50 closed, assigned to nobody

[2017-03-29 21:55] jmccormick2001 commented on #48
moving to projects tab under dev tasks

[2017-03-29 21:55] #48 closed, assigned to nobody

[2017-03-29 21:56] jmccormick2001 commented on #30
moving to projects tab under enhancements

[2017-03-29 21:56] #30 closed, assigned to nobody

[2017-03-29 21:56] jmccormick2001 commented on #16
moving to projects tab under enhancments

[2017-03-29 21:56] #16 closed, assigned to pvacca

[2017-03-29 21:57] jmccormick2001 commented on #34
moving to projects tab under dev tasks enhancements

[2017-03-29 21:57] #34 closed, assigned to nobody

[2017-04-06 08:36] Tedezed opened #105 "Crunchy-Postgres - /pgdata Permission denied"
**Errors:**
[code]
[code]

**Infinite loop:**
[code]

**Correct solution?** in line 74 on bin/postgres/start.sh
`sudo chown -R postgres:postgres /pgdata`

[2017-04-06 12:40] jmccormick2001 commented on #105
Hi,  I'd like to recreate this one.  Can you tell me what your environment looks like?  is this on Openshift?  is this using NFS for persistent volumes?  thanks.

[2017-04-06 13:33] Tedezed commented on #105
I'm using GCE-Kube on a node with set.json.dynamic.
I want to deploy set.json with gcePersistentDisk but I have some errors with pgset-n pods. I was thinking of deploying it only one with crunchy-pv.

I am use:

[code]

`gcloud compute disks create --size 1GB $CRUNCHY_DISK`

**PersistentVolume:**
[code]

**PersistentVolumeClaim:**
[code]

I need deploy pv1, pv2, pv3 and pvc with gcePersistentDisk?

[2017-04-06 13:48] jmccormick2001 commented on #105
interesting, I've not tested this on GCE yet but something I want to do...I've seen this permission denied error before on other platforms with other volume types...what folks sometimes need to do is to add either a supplementalGroup or fsGroup in their security context their pod uses...not sure what the default group is for a gce disk, but if you know that value (e.g. 65543), you can add that in

[2017-04-06 14:00] jmccormick2001 commented on #29
if you have examples you could share I'd love to pull those in to start a
new GCE folder of examples similar to the ones I have for
openshift/kube/docker.

On Thu, Apr 6, 2017 at 4:16 AM, Juan Manuel Torres <notifications@github.com

[2017-04-06 15:37] Tedezed commented on #29
When to solve the errors, I share them.
Thanks! :)

[2017-04-07 09:57] Tedezed commented on #29
Add gce pv example: https://github.com/CrunchyData/crunchy-containers/pull/107/commits/36c6d97fab98b0f0cf64299c8cfa3e01067d1a47

[2017-04-07 10:07] Tedezed commented on #105
With fsGroup I can deploy correctly but statefulset use crunchy-pvc instead of the pvc.

[2017-04-09 10:51] #105 closed, assigned to nobody

[2017-04-11 14:01] magick93 opened #109 "Update OpenShift blog links"
Hi

I'm wanting to get started using Crunchy on OpenShift, and was reading the excellent article on https://blog.openshift.com/openshift-ecosystem-crunchy-postgresql-integration/ however all the links to the Crunchy repo are broken, so its not possible to follow along.

Is it possible for the links to be corrected, and the files references in the article to be made public again?

[2017-04-11 14:21] magick93 opened #110 "Templates not found"
When trying to run the OpenShift template installation process, as discribed on https://github.com/CrunchyData/crunchy-containers/blob/master/docs/templates.asciidoc, under the headline **Installation**, the following errors occur:

[code]

[2017-04-11 14:24] magick93 commented on #110
Hmm, seems I must have made a mistaken. On second attempt it seems to have worked.

[2017-04-11 14:24] #110 closed, assigned to nobody

[2017-04-11 15:52] magick93 opened #111 "Crunchy-postgres-database-pvc fails to start"
## Description
PG Crunchy container fails to successfully deploy/startup on OpenShift

## Versions

**OpenShift Master**:  v1.5.0-rc.0+49a4a7a

**Kubernetes Master**: v1.5.2+43a9be4

## Logs
[code]
I am using NFS.

I have set the host directory to have 777 permissions.

## Events
[code]

## Other observations
There is no deployment config created.
On the OpenShift webcosole, when I go` <Project>`

[2017-04-12 14:01] jmccormick2001 commented on #109
it appears I can't update that page unfortunately...way back when, I renamed that project to the new crunchy-containers repo name, things have changed greatly since that blog was written, I encourage you to take a look at the docs folder within this repo, particularly the files ending ".asciidoc", they contain a lot of materials to get you started and updated.  regards.

[2017-04-12 14:01] #109 closed, assigned to nobody

[2017-04-12 14:03] jmccormick2001 commented on #111
I'd like to recreate this, what is the name of the template you are using?

[2017-04-12 14:14] magick93 commented on #111
I think it was called `crunchy-postgres-database-pvc`.

[2017-04-12 14:26] jmccormick2001 commented on #111
ah, that template doesn't use secrets for getting the password values, did you alter the example to have it use secrets?

[2017-04-12 14:30] magick93 commented on #111
No I didnt alter the template, just filled in the details.

Ok, so secrets are not used in this. That was just an observation that I thought might have been relevant. Nonetheless, it seemed to have problems with the ` /pgdata/pgdatabase` directory.

[2017-04-12 14:34] jmccormick2001 commented on #111
cool, if you could run the following commands and show me the output it would be great:
oc get pvc
oc get pv

also if you could tell me the name of the PVC that you used

[2017-04-12 14:40] magick93 commented on #111
I've since removed the `dc` and `pod`, and am using the OOTB postgres container.

However the `pv` is still there.

[code]

[2017-04-12 14:45] jmccormick2001 commented on #111
yeah, that PV definition appears to be using a HostPath type instead of NFS type...I have some scripts under examples/pv that you can use to create either a HostPath or NFS set of PVs if you want to use that for creating your PVs...within examples/envvars.sh there is a NFS_PATH variable that needs to be filled out to match your path.  That NFS_PATH variable is used for both a HostPath and NFS conf

[2017-04-12 14:49] magick93 commented on #111
Ok, cool. Thanks.

I will try that.

[2017-04-12 15:12] magick93 opened #114 "Feature-request: comma separated list of databases in template."
It would be nice if the templates could take a comma separated list of databases.

In some cases, it makes more sense to have a postgres server handling more than one database. Especially considering the resource cost of one more database is smaller compared to having to run database+database server.

[2017-04-15 06:52] lastcoolnameleft opened #123 "Crunchy Master fails to start"
Hello,

I hope this issue meets you in good spirits.  I was following this walkthrough:
http://blog.kubernetes.io/2016/09/creating-postgresql-cluster-using-helm.html

And I ran the following commands:
[code]

And received the following error:
[code]

[2017-04-18 13:57] sonamsamdupkhangsar opened #124 "crunchy-master pod dissapears when there are more pods deployed Kubernetes"
I am seeing a behavior where the crunchy-master pod dissappears or goes into "completion" state when there are more pods deployed to the Kubernetes cluster.  Just checking if this is normal under heavy node usage.  Is there a way to see previous log of the crunchy-master pod?  I tried with kubectl logs <POD_NAME> --previous but don't see any.

[2017-04-20 13:53] jmccormick2001 commented on #124
strange!  you might try 'kubectl get pod -a' and see if the pod shows up at all...I've not seen that happen before...you might try looking at the kube logs as well and see if anything strange is logging...if this is repeatable, you might provide me the kube version you are running and how to recreate it.  regards.

[2017-04-20 13:56] jmccormick2001 commented on #114
Hi,  the postgres container is built to run a single postgres server inside it...on that server you can have any number of logical databases/schemas as with a normal postgres server.  By default I create a single 'database' on that server called 'userdb' and a single 'testuser' user account...but as you have full superuser access to that server using the 'postgres' account, you can create any obje

[2017-04-20 14:35] magick93 commented on #114
Thanks, yes I understand that it is possible to create more than one database.

To clarify, I think it could be useful if the OpenShift template(s) could take a comma separated list of databases.

[2017-04-20 15:04] jmccormick2001 commented on #114
ah, so let me make sure I understand, instead of passing 'userdb' into  thePG_DATABASE env var, you would want to pass in something like this "db1, db2, nextdb"?  it would create all of those databases instead of just the single 'userdb' that I use in the examples.

[2017-04-20 15:08] magick93 commented on #114
Yes, exactly.

[2017-04-20 15:37] sonamsamdupkhangsar commented on #124
I am running on CoreOS stable (1298.7.0).  My kube version says:

[code]

The crunchy-master pod disappearing has been happening quite repeatedly.  However, the replica pod remains.  I am able to run helm and installing with the replace name to reuse the data that was created in nfs.  I will try the 'kubectl get pod -a' option when master disappears again.

[2017-04-20 19:18] sonamsamdupkhangsar commented on #124
It happened again.  The crunchy-master pod disappeared.  The replica is still alive.  I don't see anything interesting when I ran the 'kubectl get pod -'.

[2017-04-24 13:20] jmccormick2001 commented on #124
so are you saying that something is totally deleting the master pod?  or is the master pod just exiting?  if you do a 'kubectl get pod -a' does it show up at all?

[2017-04-24 13:25] jmccormick2001 commented on #123
from that log snippet it appears the access to the NFS file system is not working...I'm assuming you
updated the example to use your local NFS IP address and mount point?  also, you might check the
permissions on that directory to make sure the containers can write to that directory.  The example I notice references an old version of the container, you will want to update that to the latest versio

[2017-04-24 13:35] jmccormick2001 commented on #111
I'll close this one out unless you still are having a problem.

[2017-04-24 15:59] sonamsamdupkhangsar commented on #124
I tried the 'kubectl get pod -a' and the master crunchy does not show up.

[2017-04-24 16:59] jmccormick2001 opened #129 "add signal trap for badger container"
catch sigterm in badger container for a quicker shutdown

[2017-04-25 16:14] jmccormick2001 commented on #124
very weird, not sure what could be deleting the pod altogether like that...I'll try to test it out today using helm on kube 1.5

[2017-04-25 18:34] jmccormick2001 commented on #124
I tested this out just now without any issues, but I'm wondering if somehow helm could be removing the master?  When this happens again, you might check the helm/tiller pod log as in this command:

kubectl logs tiller-deploy-1172528075-3hnpc --namespace=kube-system

check to see if something is causing helm to delete the master...there is probably a way to see the kube logs too and check to see if

[2017-04-25 18:40] jmccormick2001 commented on #123
just tested this helm example out with a new container image and kube 1.6 and the latest helm, it seems to work ok for me, I suspect the error you had is in the NFS setup/perms.

[2017-04-25 18:41] #111 closed, assigned to nobody

[2017-04-26 03:51] lastcoolnameleft commented on #123
It will be a while before I can test this again.  Closing for now, assuming PEBKAC.

[2017-04-26 03:51] #123 closed, assigned to nobody

[2017-04-27 17:17] jmccormick2001 opened #132 "atomic help files"
https://github.com/RHsyseng/container-rhel-examples/blob/master/starter/Dockerfile#L21

make sure each container has an atomic help file as noted above.  this is for redhat certification.

[2017-04-27 17:17] jmccormick2001 opened #133 "yum update in all dockerfiles"
make sure all dockerfiles include a yum update, picked up by certification scan.

[2017-04-29 06:39] DanielFerreiraJorge opened #134 "Start a cluster from WAL-E backup?"
I have a production postgres streaming wal to s3 via wal-e... I want to start a cluster in kubernetes and retrieve the wals... is it possible?

[2017-05-04 20:14] jmccormick2001 commented on #134
my guess is not possible unless there is a Kube Persistent Volume adapter for S3, I'm not seeing one available after some slight searching...Amazon EBS works however.

[2017-05-04 20:15] jmccormick2001 opened #137 "pgbouncer - optimize docker engine"
cp the docker binary over instead of installing docker-engine, test in docker environmment, used for failover triggering mechanics.

[2017-05-05 15:15] DanielFerreiraJorge commented on #134
Thank you for replying. I think there is a little misunderstanding regarding the question. I'm talking about delegating the backup/restore process to "WAL-E" (https://github.com/wal-e/wal-e). There is no need at all to "mount" S3 as a volume in kubernetes.

[2017-05-05 23:38] guptaarvindk opened #141 "How this setup recovers already failed master?"
In the architecture presented, What happened to master which was failed and comes back up again?how previously failed  master recovers database and how it can be made a new slave?
Thanks,
-Arvind

[2017-05-06 15:43] jmccormick2001 commented on #141
I'm thinking now about how to implement some sort of automated failover, there are various ways and scenarios as you can imagine.  One solution would be to create a 'watcher' that would have the responsibility to watch a master's health and if it deems the master as 'failed', would trigger a failover on an available slave.  When a master runs in a Deployment, Kubernetes itself can restart the mast

[2017-05-06 15:46] jmccormick2001 commented on #134
ah, thanks for the link, I have not looked at WAL-E before, but it looks very interesting and useful, currently I don't have an integration to it but it seems very useful and will give it some thought as to how to integrate with it.

[2017-05-06 21:47] jmccormick2001 commented on #141
forgot to add, what exists today is the container called 'crunchy-watch', take a look at the examples for it, it performs a form of automated failover when you have deployed a master and a set of slaves...I'm going to build something more advanced in the postgres-operator project as well.

[2017-05-06 21:47] jmccormick2001 commented on #133
merged, will land in next release.

[2017-05-06 21:47] #133 closed, assigned to nobody

[2017-05-06 21:48] #124 closed, assigned to nobody

[2017-05-07 07:06] guptaarvindk commented on #141
Thanks Jeff, really appreciate for your detailed answers. I am fairly new to postgres world, so please feel free to correct me, if I am asking any already answered question.

I did looked at crunchy-watch container , but that only take care of switching from slave to master once original master is died. But I don't see anything where it attempt to bring the old master back up online as new slave o

[2017-05-08 12:39] jmccormick2001 commented on #141
this is some good input/ideas...I could see adding a capability to crunchy-watch to attempt to bring the failed master back into the cluster as a slave after a failover...also, I was thinking about retaining the PID within the /pgdata instead of /tmp, this way, a failed database, one that would not remove the PID after a clean shutdown, would be easy to spot, other masters that see an existing PID

[2017-05-08 15:09] jmccormick2001 commented on #29
I've tested using GCE and updated the kube.asciidoc to note a few pointers on running on GCE...I'll create another Issue for the Helm charts work.

[2017-05-08 15:09] #29 closed, assigned to nobody

[2017-05-08 15:10] jmccormick2001 opened #142 "helm charts"
create helm charts for a basic set of examples.

[2017-05-08 18:06] guptaarvindk commented on #141
Thanks Jeff,

Sounds perfect. Yes keeping  track of master slave outside the master slave container is best way to faster detect master down and upgrade slave to master and then bring back the old master. I would be happy to try out your solution one you have.

One more question. I see in your watch container, you are directly calling "kubectl pod delete", is it safer to do? no security risk in th

[2017-05-09 08:41] Tedezed opened #143 "Component for autoscaling"
I am working on a project to cover the temporary need to auto-scale the StatefulSet automatically. https://github.com/Tedezed/slug-containers/tree/master/statefulset_autoscaler/docker/slug_statefulset_autoscaler

I think it might be interesting for the crunchy-containers,  create a new component  based  on crunchy-watch. This new component would be responsible to failover and auto-scaling of the s

[2017-05-09 14:37] jmccormick2001 opened #144 "evaluate postgres exporter for prometheus"
http://monitor.gitlab.net/dashboard/db/postgres-stats?refresh=5m&orgId=1&from=now-3h&to=now

https://github.com/wrouesnel/postgres_exporter

https://github.com/wrouesnel/postgres_exporter/blob/master/queries.yaml

[2017-05-09 18:24] xenophenes opened #145 "Review Outdated Documentation"
Review for removal or relocation:

all-in-one/
ceph/
gluster-kube/
systemd/
systemd.asciidoc
env-vars.md
non-root.md
secrets.md

[2017-05-09 18:42] jmccormick2001 commented on #137
given the current bash implementation and the way docker expects to be installed, this will not work....what is likely to occur in the future is a rewrite of this container's script logic into golang, at that time, the docker/kube calls would be replaced with API calls within the golang code.

[2017-05-09 18:42] #137 closed, assigned to nobody

[2017-05-09 20:02] jmccormick2001 commented on #129
done, merged into master.

[2017-05-09 20:02] #129 closed, assigned to nobody

[2017-05-09 20:08] jmccormick2001 commented on #143
this sounds interesting and useful....I have a golang version of crunchy-watch which I'm planning on switching over to in an upcoming release.  Let me give this some serious thought as to how it could be integrated.

[2017-05-09 20:20] jmccormick2001 commented on #132
merged Sarah's PRs for this one.

[2017-05-09 20:20] #132 closed, assigned to xenophenes

[2017-05-10 20:36] jmccormick2001 opened #147 "update pgbadger version"
update the pgbadger versions across all platforms.

[2017-05-12 14:09] jmccormick2001 commented on #147
done, merged into centos dockerfiles.

[2017-05-12 14:09] #147 closed, assigned to nobody

[2017-05-12 14:12] jmccormick2001 opened #151 "review doc build tooling"
see if there is a better tool for generation of PDF and HTML docs from the asciidoc source files.  Currently it uses asciidoctor to do this, but something better might exist that is a) easier to install and b) more customizable.  Verify the PDF and HTML output against what asciidoc generates in terms of look and feel.  Make a recommendation to keep the current tooling or replace with other tooling

[2017-05-16 14:30] Tedezed commented on #143
At first moment, the script can increase the number of replicas without problems. The only problem is to reduce the number of replicas, since the master should be assigned to the replica number 0 because Kubernetes will always delete from highest to lowest number of replicas.

Related to:
https://github.com/CrunchyData/crunchy-containers/blob/master/bin/watch/start.sh#L119-L132

I consider making

[2017-05-18 18:36] jmccormick2001 opened #153 "update dedicated documentation"
it would be helpful to extract only the relevant container information from containers.asciidoc and repeat that information within the dedicated.asciidoc....the dedicated templates only use a few containers, not all.  So we want to tailor this document for that purpose to make dedicated.asciidoc be all a user would need as a reference.

[2017-05-19 01:51] xenophenes commented on #153
Are all the containers that dedicated.asciidoc use already referenced within the document, or are there some that aren't already present? Are you referring to simply including the installation of Openshift as well as including Openshift tips within the dedicated document?

[2017-05-23 12:05] galindro opened #155 "crunchy-pgpool Error -> /bin/pgpool: No such file or directory"
Guys,
    The two new versions of crunchy-pgpool container (1.4.0 and 1.4.1) not works. They doesn't have two binaries: /bin/pg_md5 and /bin/pgpool:

These are the docker logs:
[code]

### How to reproduce?

Execute the following commands:

[code]
[code]

### What version works?

The version 1.3.0 has those binaries:

[code]

[2017-05-23 12:23] jmccormick2001 commented on #155
thanks, I'll look into this.

[2017-05-23 13:15] galindro opened #156 "crunchy-watch: confusion in function standalone_failover"
I'll build crunchy-watch from sources to use it with docker swarm mode. Until [this functionality](https://github.com/moby/moby/issues/27552) is ready to use, I'll use [rexray s3fs](https://rexray.readthedocs.io/en/stable/user-guide/docker-plugins/#simple-storage-service) to mount /tmp in master and slave replicas (I have a fixed number of replicas) and share it with crunchy-watch service.

Lookin

[2017-05-23 13:18] jmccormick2001 commented on #156
you are correct, that message needs to print the PG_SLAVE_SERVICE value instead of the master name.

[2017-05-23 13:27] jmccormick2001 commented on #156
just pushed a fix for this to master.  thanks for reporting this one!

[2017-05-23 13:27] #156 closed, assigned to jmccormick2001

[2017-05-23 13:30] jmccormick2001 commented on #155
I have a fix pushed to master...we will rebuild/repush today.

[2017-05-23 13:41] jmccormick2001 opened #157 "replace godep"
godep is causing us build problems on a routine basis, this issue will seek to replace godep with another tool.

[2017-05-23 15:15] #157 closed, assigned to jmccormick2001

[2017-05-23 15:38] xenophenes commented on #153
Issue resolved.

[2017-05-23 15:39] #153 closed, assigned to xenophenes

[2017-05-23 15:41] jmccormick2001 commented on #155
the new pgpool 1.4.1 has been pushed to dockerhub with the fix.

[2017-05-25 15:45] xenophenes opened #159 "Restructure Docker/Kubernetes/Openshift Examples"
- Simplify docker, kube, openshift installations into install.asciidoc
- Merge all examples for the above into a single examples.asciidoc

[2017-05-29 13:18] ltgzs777 opened #161 "client=FATAL: data directory "/pgdata/peeking-mole-crunchy-master" has wrong ownership"
[root@k8s-master1 kubehelm]# kubectl logs peeking-mole-crunchy-master
......
checking for PITR WAL files to recover with..
+ check_for_pitr
+ echo 'checking for PITR WAL files to recover with..'
++ ls -A /recover
temporarily starting db to run setup.sql
+ '[' '' ']'
+ echo 'starting db'
+ echo 'temporarily starting db to run setup.sql'
+ pg_ctl -D /pgdata/peeking-mole-crunchy-master start
server s

[2017-05-30 12:03] xenophenes commented on #159
I believe this is resolved, unless you prefer to keep it open until we've managed a second pass?

[2017-05-30 13:17] jmccormick2001 commented on #161
Hi,  what version of the container are you running?  also what version of Kube are you running?  I'll try to look into this one today.  regards.

[2017-05-30 17:34] jmccormick2001 commented on #145
I removed secrets.md non-root.md and env-vars.md, the others I'll keep for now.

[2017-05-30 17:34] #145 closed, assigned to jmccormick2001

[2017-05-31 02:36] ltgzs777 commented on #161
oh，sorry！

![image](https://cloud.githubusercontent.com/assets/19546685/26613361/e98e6e08-45ec-11e7-9e10-164ad74043bd.png)

use kubeernets 1.6.x, but not use RBAC.

NFS on OS :
[root@TT nfsfileshare]# cat /etc/redhat-release
CentOS release 6.8 (Final)
[root@TT nfsfileshare]#

kubernetes and  Docker on OS:
![image](https://cloud.githubusercontent.com/assets/19546685/26614014/58f7e780-45f0-11e7-8a0c

[2017-05-31 12:47] jmccormick2001 commented on #161
what version of the crunchy-postgres container are you running?

[2017-05-31 13:27] ltgzs777 commented on #161
get from:

root@k8s-kuserver1:~# git clone https://github.com/CrunchyData/crunchy-containers.git
Cloning into 'crunchy-containers'...
remote: Counting objects: 9720, done.
remote: Compressing objects: 100% (137/137), done.
remote: Total 9720 (delta 98), reused 92 (delta 37), pack-reused 9543
Receiving objects: 100% (9720/9720), 5.91 MiB | 851.00 KiB/s, done.
Resolving deltas: 100% (7376/7376), don

[2017-05-31 14:55] ltgzs777 commented on #161
![image](https://cloud.githubusercontent.com/assets/19546685/26637741/e116412c-4652-11e7-8655-6e46f37990e6.png)

and on Kubernetes 1.5.1 use StatefulSets still error：
2017-05-25 02:36:21 EDT [38]: [1-1] user=,db=,app=,client=FATAL:  data directory "/pgdata/pgset-0" has wrong ownership
2017-05-25 02:36:21 EDT [38]: [2-1] user=,db=,app=,client=HINT:  The server must be started by the user that owns

[2017-05-31 17:59] #159 closed, assigned to nobody

[2017-05-31 20:56] jmccormick2001 commented on #161
if you are running selinux you might try disabling it, I've seen weird file permission errors like that when selinux is enabled but the NFS is not labeled correctly.

[2017-06-01 01:05] ltgzs777 commented on #161
Kubernetes 1.6.x run under Ubuntu 16.04，and Ubuntu OS not install selinux：
root@k8s-kuserver3:~# sestatus -v
The program 'sestatus' is currently not installed. You can install it by typing:
apt install policycoreutils
root@k8s-kuserver3:~#

NFS run under CentOS6.5：
[root@TT ~]# sestatus -v
SELinux status:                 disabled
[root@TT ~]#

[2017-06-08 15:46] jmccormick2001 commented on #155
should be resolved now.

[2017-06-08 15:46] #155 closed, assigned to jmccormick2001

[2017-06-27 15:45] colemanserious opened #175 "Permissions needed for pg-watcher sa in kub example of watch"
examples/kube/watch/run.sh sets up a new serviceaccount, pg-watcher, which is then used in watch-pod.json.  run.sh doesn't do anything to set up roles or privileges for that serviceaccount.   run.sh shows some commented out commands for setting up privileges in openshift: please update to show guidance for k8s.

[2017-06-27 16:30] jmccormick2001 commented on #175
thanks, I'll take a look, I noticed yesterday that I'd left off the --token=$TOKEN from the kubectl commands within the start.sh script, I suspect that could also be causing some issues but will attempt to recreate the permission issue today.

[2017-06-27 20:57] jmccormick2001 commented on #175
curious if you are running your api server with authorization-mode=ABAC and authorization-policy-file=/etc/somepolicyfile?

[2017-06-27 21:12] jmccormick2001 commented on #175
also, if you can provide the kube version that would be useful too

[2017-06-28 15:00] jmccormick2001 commented on #175
I added some policy notes in https://github.com/CrunchyData/crunchy-containers/blob/master/docs/containers.adoc that hopefully will be helpful.

[2017-06-28 21:08] colemanserious commented on #175
Using authorization mode of RBAC on 1.5.  Yes, I know RBAC is only alpha in 1.5.  Thanks for the policy notes.  If I read right, you've suggested that the serviceaccount should receive a clusterRoleBinding to clusteradmin?  Would request a more specific role that can be applied to a namespace.  Context: we're working in a multi-tenant K8S cluster.  The pgwatcher serviceaccount created in a specifi

[2017-06-28 22:04] jmccormick2001 commented on #175
I think this might be closer to what you are looking for given your use case, this specifies the default namespace in this example:

kubectl create rolebinding my-sa-binding --clusterrole=admin --serviceaccount=default:pg-watcher --namespace=default

[2017-06-30 10:46] guillelb opened #177 "Postgresql cluster doesn't work on kubernetes"
I followed the example to deploy a PostgreSQL cluster in kubernetes:
http://blog.kubernetes.io/2017/02/postgresql-clusters-kubernetes-statefulsets.html

All the deployment works fine, PODs are running, but the postgresql software, inside the dockers, are not working nor listening on port 5432.

**From a client:**
[code]

**TELNET:**
[code]

**LOGS OF THE PODs:**
[code]

[2017-06-30 15:59] jmccormick2001 commented on #177
Hi, can you provide me the log of the pgset-0 pod?  or if you see some errors in there those lines would be good.  Also, if you could verify that postgres is/is not running in pgset-0 that would be useful,
kubectl exec -it pgset-0 bash, then ps ax to see if the postgres process is running or not.

[2017-06-30 16:00] jmccormick2001 opened #178 "upgrade rhel containers to latest RHEL version"
currently the rhel containers use rhel7.2, I would like to update those Dockeffiles to use rhel7.3.

[2017-07-03 07:38] guillelb commented on #177
The pgset-0 log is always repeating the same:

[code]

**Processes**
[code]

After two days, the pods are running, and have not been restarted:
[code]

It seems not to be Postgres running and listening inside the pod.

[2017-07-03 08:39] guillelb commented on #177
Reviewing the first lines of the log, we can found the following:

[code]
It seems that the script can not create the directories:
[code]

The user that runs the script has no permissions.

when I run inside the pod, my user is "postgres":
[code]
And I can not create that directories:
[code]

I am using the following docker image:
`crunchydata/crunchy-postgres:centos7-9.6-1.4.1`

Is it correct?

[2017-07-03 14:43] colemanserious commented on #175
On 1.5, you actually need to create a RoleBinding yml/json object and do a create -f, it appears.  There's no kubectl create rolebinding command: we resolved by tracking back into a tagged version of the kubernetes documentation and finding the corollary info.

[2017-07-03 15:26] guillelb commented on #177
Solved,
I am using glusterfs, and the volumes need to have write permissions for the user "postgres".
So, I gave 777 persmission to the volume, and works fine.

[2017-07-03 15:26] #177 closed, assigned to nobody

[2017-07-05 22:30] jmccormick2001 commented on #175
ah!  I've updated containers.adoc with a note about this, let me know if we need to reopen this issue but I figured it was about closed at this point.  cheers and thanks for pointing this out!

[2017-07-05 22:30] #175 closed, assigned to nobody

[2017-07-07 13:47] jmccormick2001 opened #182 "considerations for adding PL/R to postgres-gis container"
evaluate adding PL/R to the postgres-gis container

[2017-07-07 13:53] jmccormick2001 opened #183 "evaluate adding a Postage container"

[2017-07-09 14:51] prlaurence opened #184 "Confirm Kubernetes Version Dependency"
To confirm that Crunchy Containers requires Kubernetes 1.6 (Postgres-Operator indicates the operator is dependent on Kubernetes 1.5).

[2017-07-19 15:46] Tedezed opened #187 "Compatibility with UTF8"
Would it be a good idea to change the encoding to UTF8?

docker-library/postgres: https://github.com/docker-library/postgres
[code]

crunchy-containers
[code]

Change template for example:

[code]

thx!

[2017-07-20 06:56] #187 closed, assigned to nobody

[2017-07-20 21:13] jmccormick2001 commented on #178
merged in changes from Sarah for this.

[2017-07-20 21:13] #178 closed, assigned to xenophenes

[2017-07-20 21:35] jmccormick2001 commented on #184
the container suite will work on Kube 1.5 and above, I've updated the README file to better describe the supported versions.

[2017-07-20 21:35] #184 closed, assigned to nobody

[2017-07-20 21:37] jmccormick2001 commented on #161
did you ever resolve this?  sorry for the delay in getting back to review this.

[2017-07-27 09:01] Tedezed commented on #143
Currently: https://github.com/kubernetes/kubernetes/issues/44033

[2017-07-27 09:01] #143 closed, assigned to nobody

[2017-07-27 14:54] Tedezed opened #193 "Install PG_LOCALE"
I want add new locale, I'm testing with: **PG_LOCALE**: **es_ES.utf8**

**Log:**
[code]
**Error:**
[code]
[code]
[code]

Is it a good idea create a script to install locate if not have it inside?
[code]

[2017-07-27 22:07] jmccormick2001 commented on #182
merged into postgres-gis container

[2017-07-27 22:07] #182 closed, assigned to jmccormick2001

[2017-08-02 12:01] jmccormick2001 opened #200 "evaluate changing crunchy-dba and crunchy-vacuum to non-root user"

[2017-08-02 12:01] jmccormick2001 opened #201 "add generic script execution to crunchy-dba"

[2017-08-03 16:12] jmccormick2001 opened #206 "evaluate adding sshd"
to support better pgbackrest integration, need to eval how to best add sshd support into the container

[2017-08-04 17:26] jmccormick2001 opened #210 "crunchy-dba - replace embedded kubectl and oc with client-go lib calls"
currenlty, the kubectl and oc binaries are added into the crunchy-dba container, this Issue will change dbaserver to instead use client-go to make the API calls.

[2017-08-04 17:26] jmccormick2001 opened #211 "crunchy-watch - replace kubectl and oc with client-go API calls"
replace kubectl and oc with equivalent client-go API code

[2017-08-04 17:27] jmccormick2001 commented on #211
to make this change, its probably a good time to replace the current implmentation with the golang version of crunchy-watch and extend that to use pre/post bash shell hooks.

[2017-08-07 15:43] jmccormick2001 opened #212 "standardize container names"
simple task of standardizing all container names for the examples, the container name for the database container will be 'database' for example.

spec:
  containers:
  - name: database

[2017-08-07 16:48] jmccormick2001 opened #213 "evaluate pev container for inclusion"
https://github.com/AlexTatiyants/pev

[2017-08-09 15:57] xenophenes commented on #212
Would you mind explaining more what you want accomplished with this?

i.e., are you asking instead of ms-master being the name of the container for the master-replica example, it should be "database"?

[2017-08-09 20:50] jmccormick2001 commented on #151
merged in a change to start using a2x instead of asciidoctor for PDF and HTML and man page generation.

[2017-08-09 20:50] #151 closed, assigned to xenophenes

[2017-08-18 17:11] abrightwell opened #217 "Metric collection logging"
Currently all metrics are being logged to STDOUT by the collect container. It would be great to allow some form of configuration to allow toggling whether or not this occurs. One suggestion might be to include a 'DEBUG' env that when set/present includes the metrics in the logs.

[2017-08-25 16:03] jmccormick2001 opened #218 "PG 10 support"
support PG 10

[2017-08-28 20:19] abrightwell opened #221 "Update Makefile with .PHONY"
Currently, the root Makefile does not make uses of the .PHONY directive. This is ok, provided that there are no target to filename conflicts.

Adding it currently conflicts with different versions of 'make'. This conflict is due to the placement of the check for CCPROOT. In some cases, it creates a ‘recipe commences before first target. Stop.’ error and in others it just ignores the check all toge

[2017-08-31 14:22] jmccormick2001 opened #225 "add recovery timeline"
in the recovery.conf template add/test this setting to insure proper replica connections to the new master

recovery_target_timeline = 'latest'

https://www.postgresql.org/docs/current/static/recovery-target-settings.html

recovery_target_timeline (string)
Specifies recovering into a particular timeline. The default is to recover along the same timeline that was current when the base backup was ta

[2017-08-31 15:43] jmccormick2001 commented on #142
https://github.com/kubernetes/charts/issues/809#issuecomment-326333594

[2017-09-07 09:27] manuelep commented on #79
would it be possible to easily use your template for installing a postgis image under an openshift project? How?

I tried the command:

[code]

without success obtaining the sequent output

[code]

[2017-09-07 19:03] jmccormick2001 commented on #212
merged into master.

[2017-09-07 19:03] #212 closed, assigned to xenophenes

[2017-09-07 20:45] jmccormick2001 commented on #225
merged change into crunchy-watch to no longer delete replicas (not including the targeted failover replica)...this is possible with the addition of the timeline parameter in the recovery.conf template which was added by this Issue.

[2017-09-07 20:45] #225 closed, assigned to nobody

[2017-09-07 22:23] jmccormick2001 commented on #217
merged in a fix

[2017-09-07 22:23] #217 closed, assigned to abrightwell

[2017-09-07 22:45] jmccormick2001 commented on #193
still looking into this one, locale support inside centos/rhel containers appears to be an issue in general.

[2017-09-07 22:51] jmccormick2001 commented on #141
eventually the kubectl and oc commands will be replaced by client-go API calls, its in the works to do in a future version of the watch container.

[2017-09-07 22:51] #141 closed, assigned to nobody

[2017-09-07 22:53] jmccormick2001 commented on #114
I think I've decided to not include this feature, rather I'd like to see users that need this ability to place those sort of SQL statements in a setup.sql file that is configured and mounted in the /pgconf volume mount, this way users can override the default behavior as they wish...there are some examples of overriding the default setup.sql in the examples directory.

[2017-09-07 22:53] #114 closed, assigned to nobody

[2017-09-07 23:00] jmccormick2001 commented on #79
crunchy-containers/examples/templates/single-master

check out that template example, if you replace the image name in master.json with crunchy-postgres-gis instead of crunchy-postgres and use this image tag:  centos7-9.6-1.5.1

it should be a step in the right direction I think for what you want.

if you execute that example's run.sh script it will load the template into your openshift.

[2017-09-07 23:00] #161 closed, assigned to nobody

[2017-09-08 02:07] jmccormick2001 opened #228 "update grafana and prometheus"
update to the latest versions in prep for next release...update install-deps with latest version URLs, and retest grafana/prometheus containers.

[2017-09-08 07:42] manuelep commented on #79
Thank you Jeff,
I successfully installed the database but it seams inactive and the only message I obtain is a warning like this:

It seams to have problems creating the container. I found this message under `Pods >> pgdatabase -> Logs` but no better or more detailed log I found:

I just:
* assigned the right tag

[code]

* exported needed variables

[code]

* login into my account

[code]

* edit

[2017-09-08 15:32] jmccormick2001 opened #229 "pgdump container"
consider a pgdump container capability

[2017-09-08 18:52] jmccormick2001 opened #230 "crunchy-watch - add hooks"
pre/post hooks and config volume mount, and examples of usage.

[2017-09-11 09:11] manuelep commented on #79
Reading the [log](http://paste.debian.net/985094/) obtained with `oc get all -o json -n <namespace>` I can see that the container cannot be created because of permissions:

[code]

[2017-09-11 14:08] jmccormick2001 commented on #79
strange error, it seems to be having a problem creating an emptydir volume...if you see a log from the postgres container that would be interesting to look at....with emptydir volumes like this one is using, I don't normally see a file permission error like this...if it were NFS or Gluster or other volume types, I tend to see permission errors where the Postgres container can't have write access t

[2017-09-13 14:31] manuelep commented on #79
maybe it could be useful to know that there is no persistent storage included by default with OpenShift and I didn't create one. Now I tried creating two storages (called pgdata and backup) but nothing seams change... are there any particular needed configuration about storages to keep in mind?

[2017-09-13 22:12] jmccormick2001 commented on #79
typically when using emptyDir volumes, there is nothing you need to do for the permissions to work, this is odd...I'm guessing other containers work on this openshift and persist to emptyDir just fine?

[2017-09-13 22:15] thesteve0 commented on #79
Please specify your version and which "openshift" you are using - online,
dedicated, minishift, openshift container platform...
Thanks

On Wed, Sep 13, 2017 at 3:12 PM, Jeff McCormick <notifications@github.com>
wrote:

[2017-09-14 07:02] manuelep commented on #79
I'm using openshift service v.3 with a [PRO account](https://www.openshift.com/pricing/index.html) offered by [www.openshift.com](https://www.openshift.com/)

[2017-09-14 13:10] jmccormick2001 commented on #79
ok, after some digging I found this:

https://bugzilla.redhat.com/show_bug.cgi?id=1456015

To test this out, I created a test Online account this morning to test it out, and indeed this Openshift environment is set up different than most.

Based on that bug information I created a PVC, which worked, and then attempted to
use that PVC in a simple example.  Sadly even after specifying the PVC in my

[2017-09-14 13:28] manuelep commented on #79
@jmccormick2001 Have you manually created the 6 necessary storages accordingly to the [Dockerfile VOLUME directive](https://github.com/CrunchyData/crunchy-containers/blob/master/centos7/9.6/Dockerfile.postgres-gis.centos7#L56) as I said there is no persistent storage included by default with the service offered by openshift.com. (Consider I have still to try the procedure with all the necessary st

[2017-09-14 13:37] jmccormick2001 commented on #79
ah, you are correct, forgot about the others which will default to using emptyDir which won't work on the Free Online version...with Pro you could test that out...it will probably work then if each of them have a unique PVC created.

[2017-09-14 18:11] jmccormick2001 commented on #79
ok, I've confirmed that if you specify all 6 volumes even as emptyDir that it will work.  I'll close this one out now.  They appear to lock down volume usage quite a bit in that environment.  cheers

[2017-09-14 18:11] #79 closed, assigned to nobody

[2017-09-17 19:16] xenophenes opened #233 "Conversion of terminology"
Issue: Usage of **master/slave** and **master/replica** in code and documentation.
Resolve: Switch to **primary/replica** across all code and documentation.

Purpose of raising this issue: To track the conversion of these terms in batches from start to finish. Will start with the conversion of all mentions of **slave**. This issue can be assigned to me.

Will also use this as an opportunity to rev

[2017-09-19 19:48] #228 closed, assigned to abrightwell

[2017-09-27 15:08] abrightwell commented on #213
Putting this one on hold.  Currently there are runtime errors as well as other documented errors that appear to be related to dependency resolution (https://github.com/AlexTatiyants/pev/issues/22).

[2017-09-27 15:09] jmccormick2001 commented on #144
merged into master will land in the 1.5.2 release.

[2017-09-27 15:09] #144 closed, assigned to abrightwell

[2017-09-29 17:32] #213 closed, assigned to abrightwell

[2017-09-29 17:38] jmccormick2001 commented on #183
we have decided to not go forward with  postage for now

[2017-09-29 17:38] #183 closed, assigned to jmccormick2001, xenophenes

[2017-10-02 14:13] jmccormick2001 commented on #230
merged into master.

[2017-10-02 14:13] #230 closed, assigned to abrightwell, jmccormick2001

[2017-10-02 18:01] jmccormick2001 opened #246 "crunchy-watch bug - multi-container pods"
when crunchy-watch attempts to do a failover on a Pod that has multiple containers in it, it needs to specify the container name it wants to perform an exec upon instead of assuming a single container Pod in all cases.

test this case with a postgres pod that has the collect container also within its pod...the 'kubectl exec -it ...' needs to add '-c postgres' to it to always specify the exact cont

[2017-10-04 15:58] the1forte opened #253 "pgAdmin4 container bug"
When accessing pgAdmin4, the following Error message pop-up window appears:

"Error loading script - /debugger/js/debugger"
Error message
undefined

[2017-10-04 16:01] the1forte opened #254 "Watch container enhancement"
Please add replication lag calculation as a method for selecting the failover target replica. By default, choose the replica with the lowest replication lag.

[2017-10-04 18:33] xenophenes commented on #253
Hello! Looking into this. What platform are you on (CentOS, RHEL) and what application (Docker, OpenShift, Kubernetes)? What version of the Container Suite are you on?

[2017-10-07 22:56] xenophenes commented on #193
Hello!

If you view this issue - https://github.com/CentOS/sig-cloud-instance-images/issues/10 - the top comment explains:

Another method that can be used to add in all container support:

If you're looking to add in a specific locale set, you can try:

Hopefully that helps!

[2017-10-08 20:29] #193 closed, assigned to nobody

[2017-10-09 16:01] jayunit100 opened #265 "PG_MODE errors..."
After running the `run.sh`, I see the following :

This appears to be

[code]

I don't see any indication that any of the PG_MODE values are 'bad', though, just 'master', and 'replica'.

Could just be that I overlooked some things.  I filed an associated PR to make this work on our vanilla GKE boxes, where we can't install binaries - but where we can run python :).

[2017-10-09 16:05] jayunit100 opened #266 "Use Centos image as the default."
My GKE boxes don't seem to be able to pull the default Rhel images.

Can we use centos7-9.6-1.4.1 or similar instead ?

[2017-10-09 16:07] jayunit100 commented on #265
Note i see this with old and new images alike, maybe its a config issue on my end...

centos7-9.6-1.5.1 , centos7-9.5-1.2.7

[2017-10-09 16:09] jmccormick2001 commented on #265
yep, the latest version of the PG 9.5 versions is centos7-9.5-1.5.1, try that version out, but sounds like configuration at first glance.

[2017-10-09 16:10] jayunit100 commented on #265
PG_MODE seems to be set by you guys ---

[code]

[2017-10-09 16:13] jmccormick2001 commented on #265
it could be you are caught between our next release, where we changed the examples to reference 'replica' instead of 'slave'...so, you will want to pull examples from the last release tag instead of master...or to test this out, just replace the PG_MODE value of 'replica' to 'slave' and see if that fixes it.  In the next release we are moving to terminology that the PG community uses which is 'rep

[2017-10-09 16:14] jmccormick2001 commented on #265
FYI, we are working on the next release (1.6.0) this week, should have it ready by Friday.

[2017-10-09 16:16] jmccormick2001 commented on #266
the RHEL images are available via customer subscriptions...but yes, you can pull the centos versions from Dockerhub, the latest version is centos7-9.6-1.5.1.

[2017-10-09 16:30] jayunit100 commented on #266
Thanks Jeff, ok... I'd  like to update these to use centos or fedora as the default image - if that works for you - once we get the kinks in #265 worked out ..

[2017-10-09 16:34] jmccormick2001 commented on #266
the version of image used is dictated by the CCP_IMAGE_TAG environment variable, you set that to either use the RHEL or centos version.  So, set that to deploy the desired version.

[2017-10-09 16:36] jmccormick2001 commented on #265
all the built versions of images will look for 'slave' instead of 'replica' for PG_MODE...starting with 1.6.0 it will look for 'replica' instead.

[2017-10-09 16:39] jayunit100 commented on #266
Yup... was suggested that the private RHEL image is an odd choice for a default if this is meant to be an open source project which non RHEL users are contributing to....

... how do you feel about making fedora or centos crunchy-containers the default image?  Is there a specific need to default to rhel....?

[2017-10-09 16:43] jmccormick2001 commented on #266
I'm sorry, where are you seeing the default being set to RHEL images?

[2017-10-09 16:51] xenophenes commented on #253
Hello Chris, have you been able to figure out this issue or is the problem still occurring?

[2017-10-09 17:03] jmccormick2001 commented on #266
to elaborate, we build both centos and rhel images as part of each release, they are equivalent in functionality.    The centos images are pushed to Dockerhub as part of each release.   But, we also make a RHEL version of these releases available to customers that want a RHEL base image instead of a centos base image, hope that clarifies.

[2017-10-10 13:07] the1forte commented on #253
Hi Sarah,
Sorry for the late reply, I don't check this email as often as I do the Crunchy email. This problem occurs consistently for us. We're in a Centos 7 environment and using version 1.4.1 of our containers. Are you able to reproduce the issue?
thanks,Chris
    On Monday, October 9, 2017, 12:51:38 PM EDT, Sarah Conway <notifications@github.com> wrote:

Hello Chris, have you been able to figur

[2017-10-10 15:05] jmccormick2001 opened #269 "refactor PGROOT definition"
refactor where and how PGROOT is set across the bin dir.

[2017-10-10 16:57] jmccormick2001 commented on #246
fixed merged to master.

[2017-10-10 16:57] #246 closed, assigned to abrightwell, jmccormick2001

[2017-10-10 17:08] xenophenes commented on #253
Is this across all three platforms (Docker, Kubernetes, OpenShift)? I haven't been able to reproduce the issue, but can look into it more closely if I know which platform it's occurring on. Thanks for your response!

[2017-10-10 18:30] jmccormick2001 commented on #233
done, all changes are merged into master.

[2017-10-10 18:30] #233 closed, assigned to nobody

[2017-10-11 13:49] vcottagiri opened #272 "Multiple NAMESPACE environment variable exports in examples/envvars.sh"
Comment the redundant entries in [examples/envvars.sh](https://github.com/CrunchyData/crunchy-containers/blob/master/examples/envvars.sh) to avoid confusion.

[code]

[2017-10-11 16:02] jmccormick2001 commented on #272
thanks for catching that, just merged a fix into master for this.

[2017-10-11 16:02] #272 closed, assigned to nobody

[2017-10-11 16:09] vcottagiri commented on #272
Thanks for the quick turnaround!

[2017-10-12 16:01] the1forte commented on #253
OpenShift v3.5.5.24. It's an Origin OpenShift instance on RHEL 7.3 VM. If you can't reproduce that would be good news actually.

[2017-10-12 18:29] jmccormick2001 opened #275 "refactor use of chown in various scripts"
review use of chown in various scripts, no longer needed in some cases.

[2017-10-12 19:11] jmccormick2001 opened #276 "review examples for redundancy"
examine various examples and look for redundant examples or incomplete examples that can be removed or consolidated

[2017-10-12 19:54] xenophenes commented on #253
OK, I will take a look at that environment tomorrow morning and see if I can reproduce or find out more information on the issue.

[2017-10-12 20:56] jmccormick2001 opened #278 "refactor envvars.sh"
move storage choices from envvars.sh to a user's .bashrc or similar...having this in envvars.sh invites testing issues and confuses users.

[2017-10-13 02:25] ooyamams opened #281 "centos7-9.6-1.6.0 docker image is not exist on dockerhub"
Installation Guide instructs to set these environment variables.

[code]

But centos7-9.6-1.6.0 docker image is not exist on dockerhub. So pull-from-dockerhub.sh is failed.

[code]

[2017-10-13 02:43] ooyamams commented on #281
and i notice...
is this wrong?
[code]
it seems to me that
[code]
is right.

[2017-10-13 12:00] jmccormick2001 commented on #281
we are about to produce a new release that will incorporate these changes, it should be ready on Monday, master branch now reflects this but the images are not published to Dockerhub yet.  You can test with the 1.5.1 tag release today or wait until Monday when the new version is out there, at that time it the master branch will match what is in Dockerhub. - Jeff

[2017-10-13 15:00] jmccormick2001 commented on #278
document the following env vars need to be added to .bashrc:

export CCP_CLI=kubectl
export NAMESPACE=default
export PV_PATH=/data
export LOCAL_IP=`hostname --ip-address`
export CCP_IMAGE_PREFIX=crunchydata
export REPLACE_CCP_IMAGE_PREFIX=crunchydata

then remove envvars.sh and references to it from all the run.sh scripts.

[2017-10-13 15:04] ooyamams commented on #281
Thank you for your quick and polite response. I'm looking forward to Monday!

[2017-10-13 15:04] #281 closed, assigned to nobody

[2017-10-13 17:21] jmccormick2001 opened #283 "implement pgadmin4-v2 on pg10"
I found various issues attempting to get this version to run...

I first had to add these lines to pgAdmin.py at the top to get it to run...

reload(sys)
sys.setdefaultencoding("utf-8")

I then had to hack the pre configured pgadmin.db to set the password....

so bottom line, there needs to be some investigation here to get this to work properly...

[2017-10-13 19:52] xenophenes opened #285 "Add postgres-gis example to Examples documentation"

[2017-10-13 21:12] jmccormick2001 commented on #265
new release will be out Monday evening...I think this one is closed now.

[2017-10-13 21:12] #265 closed, assigned to nobody

[2017-10-13 21:15] jmccormick2001 commented on #266
I think this one is resolved too, centos is our only distro on dockerhub, I updated envvars.sh to have the centos version of the image as the default image, I think that might have caused this issue.

[2017-10-13 21:15] #266 closed, assigned to nobody

[2017-10-13 21:18] jmccormick2001 opened #286 "refactor storage configuration and setup"
right now, its not terribly clear how to configure storage for the typical novice user....it requires extra steps outside of 'make setup' for example...

[2017-10-16 14:57] lastonoga opened #287 "No permission for pg statefulset volume"
Created new statefulset with storageclass and volume. Everything creates but it does not work..

[code]

[code]

env
[code]

Also **there are a lot of** failing description in documentation.

Pod did not want to be create cause of "no PG_MASTER_USER data"
unless i added it to the yaml.

And there is no information about PG_MASTER_USER variable.
Also there are no information about which type of vol

[2017-10-16 18:34] the1forte commented on #253
Hi Sarah. Any luck? Violet is running into the same problem, although for her it shows up with a slightly different path:

"Error loading script - /backup/backup"
Error message
undefined

[2017-10-16 18:51] vnoorani commented on #253
Hi Sarah, this is Violet. It seems that we are getting different errors, every time we try it. I had the error Chris mentioned, but later on it was:
"Error loading script - /restore/restore"
Error message
undefined.

I am running on OpenShift v3.5.5.31.24 and kubernetes v1.5.2, RHEL 7.3 VM.  Thanks for your help!

[2017-10-17 00:55] jmccormick2001 commented on #287
probably what has happened is that you are working off of master which is in flux at the moment...we are pushing release 1.6.0 out tonight which builds off of master, there are changes with this new release that will require you to modify your example to the latest version...you might try it again tomorrow with the new images on dockerhub.

[2017-10-17 00:56] jmccormick2001 commented on #218
merged into master and will land in  tomorrow's 1.6.0 release.

[2017-10-17 00:56] #218 closed, assigned to jmccormick2001

[2017-10-17 05:02] kostrzewa9ld opened #289 "Sync replica on docker swarm"
This is a feature request to enable synchronous streaming replication on docker swarm.

I've used your containers to setup sync replication on docker swarm by following your example for [docker](https://github.com/CrunchyData/crunchy-containers/blob/master/examples/docker/sync/run.sh). One issue that popped out was that transactions hanged on commit to replica. After a short investigation I found

[2017-10-18 02:10] xenophenes commented on #287
I experienced these same issues; what solved it for me was installing the postgresql-server package and disabling SELinux. Please give that a try and let me know if the issue persists.

[2017-10-18 02:11] xenophenes commented on #253
My apologies for the late response! The latest container release happened last week and took up my time. I'm building an environment now to replicate yours to see if I can replicate the problem, will get back to you shortly.

[2017-10-18 03:15] xenophenes commented on #253
(Still installing), but actually, doing some quick research it appears that this issue is not related to the crunchy-containers suite but rather to PgAdmin4 itself:

http://www.postgresql-archive.org/pgAdmin-4-v1-3-fails-to-load-td5951102.html
https://hub.docker.com/r/meedan/pgadmin/

You might try removing the PgAdmin4 image and rebuilding if this is possible:

`docker rmi -f crunchydata/crunchy-

[2017-10-18 14:21] jmccormick2001 commented on #278
merged into master.

[2017-10-18 14:21] #278 closed, assigned to nobody

[2017-10-20 17:33] jmccormick2001 opened #295 "crunchy-proxy not working on PG10"
https://github.com/CrunchyData/crunchy-proxy/issues/61

[2017-10-24 00:25] xqianwang opened #296 "Liveness and Readiness checks should use PG_DATABASE"
In liveness.sh and readiness.sh, pg_isready function is using postgres database for checking liveness and readiness which is not accessible by PG_USER (application user).

[2017-10-27 01:07] dhwanilraval opened #298 "PG_PRIMARY_USER not changed in all files - breaking pods"
Looks like recent changes done on container images and openshift templates, but start.sh files in bin still refer to old PG_MASTER_USER, which is breaking starting up containers.

[2017-10-27 03:05] xenophenes commented on #298
Please make sure you're on the latest version of the container suite; the only references to PG_MASTER_USER at this point should not break anything, but simply issue a warning:

[code]
All this will do is let the user know (if they are still using earlier versions of the containers) that PG_MASTER_USER is deprecated; it then exports PG_PRIMARY_USER as PG_MASTER_USER. There should be nothing breaki

[2017-10-27 13:32] dhwanilraval commented on #298
Thanks xenophenes. I am on latest version of container suite; and latest image of 9.6. centos7-9.6.5-1.6.0.

I am on openshift Container Platform 3.5

Attached are steps followed and logs. Although I have tried workshop example, error is same across all templates.

[deploy.log](https://github.com/CrunchyData/crunchy-containers/files/1422192/deploy.log)
[primary.log](https://github.com/CrunchyData/

[2017-10-27 13:39] xenophenes commented on #298
Ah! My apologies, I didn't realize you were talking about the PG_PRIMARY_PORT variable as being missing. That is definitely a bug; I will send a pull request shortly with the fixes for the OpenShift template examples. Thank you for reporting this.

[2017-10-27 13:57] xenophenes commented on #298
After the PR is merged, please let us know if there's any remaining issues concerning this.

[2017-10-27 17:37] jmccormick2001 commented on #298
fixes for this example merged into master.

[2017-10-27 17:37] #298 closed, assigned to nobody

[2017-10-31 07:08] xenophenes commented on #142
To do :

Bring the basic and primary-replica charts up to standard so they can be submitted to the official Helm repository.

Add statefulset, template-sml charts.

[2017-11-01 15:01] #296 closed, assigned to nobody

[2017-11-03 14:48] jmccormick2001 opened #308 "documentation - kube namespace setup"
document how to set up a new kube namespace called 'demo', then show how to provide permissions to that namespace to allow the Kube examples to run within that namespace

[2017-11-03 14:49] jmccormick2001 opened #309 "documentation - openshift demo project setup"
document how to create a new user named 'demo' in openshift, then how to create a project called 'demo', and then how to add privs to that user and or project to allow the openshift examples to run within that project under that user.

[2017-11-03 14:52] jmccormick2001 opened #310 "remove dependency"
I think we can replace envsubst and the related gettext dependnecy with this bash script:

https://github.com/CrunchyData/crunchy-containers/blob/master/bin/expenv.sh

test this theory out by creating a clean kube/openshift VM, do NOT install the gettext (envsubst) dependency, replace occurances of envsubst in the various run.sh scripts with $COROOT/bin/expenv.sh and see if the examples work as be

[2017-11-03 14:56] jmccormick2001 opened #311 "review container build dependencies and sizes"
time to review all the container sizes, and look for opportunities to reduce unneeded packages, and make sure cleanup opportunities have been evaluated and applied to the Dockerfiles. Also, look for having common labels and organization between RHEL and centos dockerfiles.

[2017-11-03 15:04] xenophenes commented on #287
Hello! Are these issues still persisting for you? Have you had a chance to experiment with the new v1.6.0 release?

[2017-11-03 15:24] jmccormick2001 opened #312 "documentation - install doc - update"
in the install guide it lists this command as part of the installation:

sudo yum -y install golang git docker postgresql-server

this is not what we want for Openshift installations...for example, Openshift 3.6 is our current standard, in that installation they require docker 1.12-6 to be installed per their docs.   Therefore, we want to instead point the user to the Openshift installation docume

[2017-11-03 15:37] jmccormick2001 opened #313 "documentation - step 5 of installation"
this example needs to either specify a 'hostpath' or 'nfs' parameter...the install guide should probably make a decision as to which storage type it will install, so for example, it should tell the user, "we are going to assume you want to configure your system to use NFS..."

and then the create.pv line would be

create.pv nfs

instead of....

Step 5 - Persistent Volume Claims

For running the ex

[2017-11-03 16:00] jmccormick2001 opened #314 "documentation - install guide - selinux on kube notes"
these appear out of date:

sudo PATH=$PATH ALLOW_PRIVILEGED=true ./hack/local-up-cluster.sh
Note: specifying ALLOW_PRIVILEGED=true is required if you are running in SELinux enforcing mode. This allows you to specify the following in your pod spec to run the container as privileged:

"securityContext": {
	"privileged": true
},

lets assume and state that our install guide is based on a kubeadm inst

[2017-11-03 16:29] jmccormick2001 opened #315 "documentation - examples - cleanup"
see if you can refactor or reduce the amount of duplication in the various examples...for example, the 'run a single database' appears to repeat many of the same bullets for Helm, Kube, and Openshift such as what is getting created (service, pod)...Docker is the odd-ball here in that it doesn't map to what is created per se by the others (kube, openshift)...

[2017-11-03 21:01] jmccormick2001 opened #316 "postgres log aggregation example"
for openshift and kube environments, document and test the best way to perform postgres log aggregation.

[2017-11-08 02:44] xenophenes commented on #287
@jmccormick2001 I'd say this issue is good to close.

[2017-11-08 02:46] xenophenes commented on #310
I believe there's an error with the expenv.sh script - keep getting an error:

`error: json: line 1: invalid character 'a' looking for beginning of object key string`

I'll try to figure out what's going on - prioritizing the other issues in the meantime (focusing primarily on install.adoc & examples.adoc).

[2017-11-08 20:34] the1forte opened #318 "PG_MASTER_USER deprecation bug"
The PG_MASTER_USER environment setting does not work, forcing a switch to the PG_PRIMARY_USER setting. Currently only a deprecation warning is issued, implying that PG_MASTER_USER can still be used.

This is not a problem for the other deprecated settings.

[2017-11-08 22:16] xenophenes commented on #313
After merge of PR #319 this should be good to close, unless you want further changes.

[2017-11-09 15:25] lastonoga commented on #287
@xenophenes Sorry for long answer. I haven't tested that yet, cause i switched to another solution -
 stolon

[2017-11-10 01:33] xenophenes commented on #276
After merge of PR #319 this should be good to close, unless you want further changes.

[2017-11-10 01:33] xenophenes commented on #315
After merge of PR #319 this should be good to close, unless you want further changes.

[2017-11-10 01:33] xenophenes commented on #309
After merge of PR #319 this should be good to close, unless you want further changes.

[2017-11-10 01:33] xenophenes commented on #308
After merge of PR #319 this should be good to close, unless you want further changes.

[2017-11-13 02:12] xenophenes commented on #318
Can you explain exactly how it's not working? It's configured similarly to the other deprecated settings, where it exports the new variable to what the old one was set to:

`if [ -v PG_MASTER_HOST ]; then`
	`echo "WARNING:  PG_MASTER_HOST is deprecated and will be removed in a future release, replace with PG_PRIMARY_HOST"`
	`export PG_PRIMARY_HOST=$PG_MASTER_HOST`
`fi`

[2017-11-13 03:12] ksatchit commented on #287
@jmccormick2001 @xenophenes , at the outset, thanks for coming up with crunchy containers !

I am facing the same issue where all pods and services are created but the db init fails with permission denied errors on pgdata. And this is with the 1.6.0 release (image: centos7-10.0-1.6.0).  The set.json needed "PG_PRIMARY_PORT" (this was alluded to in the 1.6.0 release notes) without which the pods do

[2017-11-13 13:48] jmccormick2001 commented on #287
try adding this to your set.json

 "spec": {
            "securityContext": {
                "fsGroup": 26
            },
                "containers": [{

[2017-11-13 14:14] #315 closed, assigned to xenophenes

[2017-11-13 14:15] #313 closed, assigned to xenophenes

[2017-11-13 14:20] #309 closed, assigned to xenophenes

[2017-11-13 14:21] #308 closed, assigned to xenophenes

[2017-11-13 14:44] jmccormick2001 commented on #310
I updated the script to be simpler...the usage is now something like this 'cat my.json | $CCPROOT/bin/expenv.sh | kubectl create -f -'

[2017-11-13 14:54] jmccormick2001 commented on #229
also includes a pg_restore capability

[2017-11-13 14:54] jmccormick2001 commented on #229
model the pg_dump capability after the crunchy-backup container capability and usage.

[2017-11-13 16:51] xenophenes commented on #314
In my testing, I haven't found the use of this section to be necessary at all. I'll revise the install guide to assume kubeadm and remove that section you mentioned entirely, if that's OK.

[2017-11-13 17:02] xenophenes commented on #312
Is it necessary to do this? "yum install docker" installs the correct version of Docker (1.12-6) already. It shouldn't be necessary to do more than add a "*Note*:" mentioning to be sure of the version, and if it's not the correct version, visit x link.

Making the other changes!

[2017-11-14 00:10] xenophenes commented on #310
How would the usage work for this context?

`envsubst < /opt/cpm/conf/passwd.template > /tmp/passwd`

Like this?

`/opt/cpm/conf/passwd.template | $CCPROOT/bin/expenv.sh | > /tmp/passwd`

[2017-11-14 13:58] the1forte commented on #318
I did some digging and saw that this was actually caused by the fact we were using an outdated setup.sql file as part of a configmap. Our setup.sql was still using PG_MASTER_USER, so we've updated it to PG_PRIMARY_USER. Thanks, this issue can be closed.

[2017-11-15 03:24] ksatchit commented on #287
Thanks @jmccormick2001 !

The database init was successful upon adding the securityContext. Found that I needed to make a few more minor changes to the spec to get the replication cluster working successfully.

In all, I have made the following changes to the set.json specified here :  https://github.com/CrunchyData/crunchy-containers/blob/master/examples/kube/statefulset-dyn/set.json

- Add secur

[2017-11-15 14:42] #287 closed, assigned to xenophenes

[2017-11-15 22:47] jmccormick2001 opened #327 "pgaudit for centos pg10 needs to be fixed"
when pgaudit is available for centos7 and pg10, it needs to be added and tested, verify the Dockerfile.

[2017-11-17 00:52] xenophenes commented on #310
This issue can be closed.

[2017-11-17 00:52] xenophenes commented on #312
This issue can be closed.

[2017-11-17 00:52] xenophenes commented on #314
This issue can be closed.

[2017-11-17 14:01] #310 closed, assigned to xenophenes

[2017-11-17 14:03] #318 closed, assigned to nobody

[2017-11-17 14:03] #312 closed, assigned to xenophenes

[2017-11-17 14:04] #314 closed, assigned to xenophenes

[2017-11-17 14:04] #276 closed, assigned to xenophenes

[2017-11-20 15:36] jmccormick2001 opened #331 "Openshift param files"
see if this will work as a better way to process template params in the Openshift examples....

Using pgpool for instance, we would have a parameter file pgpool.env which would look like:

PG_USERNAME=testuser
PG_PASSWORD=password
PG_MASTER_SERVICE_NAME=ms-master
PG_SLAVE_SERVICE_NAME=ms-replica
CCP_IMAGE_TAG=rhel7-10.0-1.6.0

The you could just create the pgpool template, and process like

oc pro

[2017-11-21 16:09] jmccormick2001 opened #332 "pgpool openshift example update"
update the openshift pgpool example to be in line with the kube pgpool example

[2017-11-21 17:52] jmccormick2001 opened #333 "primary-replica on openshift update"
the primary-replica example needs to match the kube example in creating a pod named ms-replica-2

[2017-11-23 17:01] xqianwang opened #335 "Does pgpool support more than 2 replica servers?"
As I can see from source code, it looks like crunchydata-pgpool only support 1 primary and 1 replica. Besides, if we have 2 users with 2 schemas in single database,  our application cannot see tables inside schema.

[2017-11-23 18:55] jmccormick2001 commented on #335
the pgpool configuration we use assumes if you have more than 1 replica, say 2, that both of those replicas will be fronted by a single replica service, the replica service is what is specified in the pgpool configuration as 'replica'.  The service round robin load balances for you to multiple replicas.

The example pgpool configuration assumes a 'testuser' can connect to a 'userdb'.  If you want

[2017-11-23 18:59] xqianwang commented on #335
hey @jmccormick2001, thanks a lot for reply. That is what I am thinking for replica servers. I think we did something wrong for replica server as we are creating different replica services for replica servers.

[2017-11-23 19:01] #335 closed, assigned to nobody

[2017-12-07 15:04] albertocsm opened #338 "backup - mkdir: cannot create directory (...) Permission denied"
i'm trying to run crunchy-backup on an in-house k8s cluster with a **host volume** mount.
k8s artifact is copied bellow (1)

I get the following error
[code]

as far as i can tell, this happens because the user that executes the `start-backupjob` script is `postgres` (user id 26).
i've changed the user that runs the process and that seems to fix the problem.

of course i don't want make this "hack

[2017-12-08 23:46] jmccormick2001 opened #341 "get backrest and backrest-restore examples in sync"
the kube and openshift examples for backrest and backrest-restore need to be made consistent...the kube version uses a configmap for pgconf whereas the openshift examples do not...both examples for both kube and openshift should ideally use a configmap to standardize upon.

[2017-12-08 23:51] jmccormick2001 commented on #338
the container runs as postgres user, so on your host system where you have the volume mount, make sure the postgres UID (26) is defined and set as the owner on the host volume you are mounting and has write permissions.  If that still doesn't work, I'd be intersted in seeing 'ls -l' output from your host directory you are specifying.

[2017-12-09 00:12] jmccormick2001 opened #342 "call pgbackrest via sshd container"
perform a backrest backup command using the sshd container sidecar

[2017-12-11 10:51] swimablefish opened #343 "crunchy-backup report error"
I created a primary-replica cluster in kubernetes. It worked well.
When I run crunchy-backup and BACKUP_HOST is specified to primary or replica, it said

" pg_basebackup: could not connect to server: FATAL:  no pg_hba.conf entry for replication connection from host "172.16.0.0", user "postgres", SSL off"

If I specified the BACKUP_HOST as pg-pool, it reported

"pg_basebackup: could not connect to

[2017-12-11 10:54] swimablefish commented on #343
Someone said it should add pg_hba.conf in server side. But I couldn't find how to config in server side.

[2017-12-12 02:23] jmccormick2001 commented on #343
are you running the backup in the same Kube cluster as where you are running primary-replica?   If so, you should be able to specify a value of 'ms-primary' for the BACKUP_HOST environment variable if you are running the primary-replica example.

[2017-12-12 02:32] jmccormick2001 commented on #275
for example, verify that you can remove the CHOWN commands from bin/backup/start-backupjob.sh

[2017-12-12 10:26] swimablefish commented on #343
Yes, I ran in the same k8s cluster. I rename the service name as primary and replica.
[code]

Here is the yaml file of backup job
[code]

Here is the pod output

[code]

[2017-12-12 14:56] #206 closed, assigned to jasonodonnell

[2017-12-12 18:26] jmccormick2001 opened #344 "documentation : consider a storage document"
given the number of storage options and configurations, a storage document or a section in the existing documentation would merge existing ceph/cluster docs plus other storage documentation.

[2017-12-12 22:48] jmccormick2001 opened #345 "update blog post on docker swarm and docker 1.12 example"
Easy PostgreSQL Cluster Recipe Using Docker 1.12 and Swarm

update on the blog site to use the latest examples...make the example clearer for people to understand.

[2017-12-13 22:07] xenophenes commented on #344
Should I add this to my to-do list as part of the docs rehaul?

[2017-12-14 02:01] swimablefish commented on #343
Found the problem. I refer to the examples/openshift and mount the files into the primary and replica.

[2017-12-14 02:01] #343 closed, assigned to nobody

[2017-12-14 09:44] beevelop opened #347 "Crunchy-Watch might lead to multiple primary pods (OpenShift / Kubernetes)"
Using your OpenShift-Failover example, I experienced two cases where the failover via Crunchy-Watch did not work as intended. Consider the following scenario:

0. Primary, 2 Replicas, Crunchy-Watch & PGPool are running properly
1. Connectivity issue causes unreachable service (in this case `primary-dc`; e.g. due to shitty internal network)
2. Crunchy-Watch triggers failover routine
3. The original

[2017-12-14 14:17] dimthe opened #348 "how to set a username for db connection"
hello
how do i set a custom username for the db connection ? In values.yaml i see primary and user .
which one would i need to change.. ?

[2017-12-14 14:24] jmccormick2001 commented on #348
the user names are set in the Chart.yaml...there is a default set of usernames created by the postgres container (postgres, primaryuser, testuser).  If you wanted to change the testuser user name, you would have to use a custom setup.sql file and specify it using an override mechanism as shown here:  crunchy-containers/examples/openshift/custom-config

there is currently not a Helm chart example o

[2017-12-14 14:34] jmccormick2001 opened #349 "create a custom config example for Kube and Helm"
create a custom config example for Kube similar to the openshift example.

[2017-12-14 14:45] abrightwell commented on #347
This is functionality we are currently working on and hoping to incorporate into future versions. Unfortunately, those updates are not ready/available at this time.

However, in the meantime, you could possibly handle these cases through the use of a 'pre' failover hook.

[2017-12-14 16:41] jmccormick2001 commented on #289
https://github.com/CrunchyData/crunchy-containers/issues/345

[2017-12-14 16:42] jmccormick2001 commented on #345
https://github.com/CrunchyData/crunchy-containers/issues/289

[2017-12-14 17:30] beevelop commented on #347
Thank you for the fast response. You don't have a development branch with those changes by any chance? If I got your examples right, I should be able to use the `WATCH_PRE_HOOK` or `WATCH_POST_HOOK` environment variables. From there I could trigger the respective cleanup procedures / prevent the failover in the first place?

[2017-12-15 14:16] jmccormick2001 commented on #316
https://www.youtube.com/watch?v=wSarix-DRyg

[2017-12-18 07:38] LuisGAngel opened #351 "Watch postgres container got permission denied while trying to connect to the docker daemon"
**Scenario**
I have three nodes in a docker swarm: dic15-test-1, dic15-test-2, dic15-test-3.
The nodes have this labels:
- dic15-test-1: {admin=true, type=pimary}
- dic15-test-2: {type=replica}
- dic15-test-3: {type=replica}

<img width="1092" alt="screen shot 2017-12-18 at 1 21 53 am" src="https://user-images.githubusercontent.com/7827171/34094236-f6ef3a6c-e391-11e7-937b-9ff06184b8c5.png">

I'm u

[2017-12-18 15:55] jmccormick2001 commented on #351
//var/run/docker.sock   you might check the file permissions of that docker socket, your container will need read/write access to that socket, its how it sends commands to the docker daemon.

[2017-12-18 19:15] LuisGAngel commented on #351
Thanks for the response @jmccormick2001.
The default permissions are `srw-rw---- 1 root docker 0 Dec 18 17:43 docker.sock=`
After changing to `srw-rw-rw- 1 root docker 0 Dec 18 17:43 docker.sock=` in every node (a bit pain in the ass because you don't know where the container will be placed) the container got access to the docker socket, although changing the permissions seems an antipattern.

[2017-12-18 19:33] LuisGAngel commented on #351
Now that the watch container is getting access to the docker socket I'm getting this error. `Error: No such container: unified-replica-db`.

The reason for this is that the failover is assuming a 1 host deployment. According to this [https://github.com/CrunchyData/crunchy-containers/blob/master/bin/watch/start.sh](url) the action for the failover(line 109) is `docker exec $PG_REPLICA_SERVICE touch

[2017-12-18 20:04] jmccormick2001 commented on #351
I'll make a note of that, we use metadata labels in Kube to offer up a means of knowing who all the replicas are in a Kube environment, we would need something similar to that lookup mechanism for the Docker/Swarm mode I think to make it work is a similar manner.  We are currently working on a new version of crunchy-watch where we can do more sophisticated fail-overs so this is a use case we can l

[2017-12-18 20:11] LuisGAngel commented on #351
Thanks for the response @jmccormick2001. Is there any tentative date for this functionality?

Let me know if I can help in any way(dev, testing, etc)

[2017-12-22 09:21] beevelop opened #353 "Exposure of sensitive information due to talkative scripts"
Some scripts do currently use (`#!/bin/bash -x` or `set -x`) to print out the executed commands. In case of the Postgres initialization itself (see https://github.com/CrunchyData/crunchy-containers/blob/master/bin/postgres/start.sh#L1), this leads to exposure of sensitive information in the application's logfiles (all necessary passwords and user configs). This is critical when using central loggi

[2017-12-22 16:21] jmccormick2001 commented on #353
thanks!  this will be implemented.

[2018-01-02 09:36] beevelop opened #357 "Crunchy-Watch: Wrong failure count logic"
Using Crunchy-Watch on OpenShift we experienced inconsistent behaviour for the failover procedures. Combing through the logs revealed that the failure count does not seem to be reset on a successful check.

This might lead to unnecessary failovers even though the `MAX_FAILURES` have technically not been reached. The current Crunchy-Watch implementation does reflect this behaviour at Line 232: http

[2018-01-02 14:18] jmccormick2001 commented on #357
you are correct, I'll add this to the list of corrections and updates we are making to crunchy-watch, a new version should be out very soon.  thanks for reporting this!

[2018-01-02 22:46] jmccormick2001 commented on #341
merged

[2018-01-02 22:46] #341 closed, assigned to jasonodonnell

[2018-01-02 23:08] jmccormick2001 opened #358 "investigate the need for push gateway"
with newer versions of Prometheus, we might be able to remove the push gateway dependency, this Issue investigates that capability and offers a recommendation on the changes.

[2018-01-02 23:09] jmccormick2001 opened #359 "update graphic"
update, and replace  'master' with 'primary' to conform to doc standard...

https://raw.githubusercontent.com/CrunchyData/crunchy-containers/master/docs/containers.png

[2018-01-02 23:11] jmccormick2001 opened #360 "docs update - XLOGDIR specified twice"
the XLOGDIR is mentioned twice in containers.adoc in the Postgres container section.

[2018-01-03 19:17] jasonodonnell opened #361 "Master/Slave labels still exist"
In some examples we are still using `master/slave` notation:

[ms-primary](https://github.com/CrunchyData/crunchy-containers/search?utf8=%E2%9C%93&q=ms-primary&type=)
[ms-replica](https://github.com/CrunchyData/crunchy-containers/search?utf8=%E2%9C%93&q=ms-replica&type=)
[ms-replica-2](https://github.com/CrunchyData/crunchy-containers/search?utf8=%E2%9C%93&q=ms-replica-2&type=)
[m-s-rc-pvc-primary

[2018-01-03 19:34] jmccormick2001 opened #362 "specify unused volumes as emptyDir - medium - Memory"
specify postgres volumes that are not specifically used in various examples as 'emptyDir' and with 'medium' of 'Memory', this will keep Docker and other container runtimes from creating file system based default volumes, and instead have it allocate tmpfs memory based empty volumes which is much faster.

verify this works on all Kube/OCP platforms, effects all postgres container examples.

https:/

[2018-01-03 20:30] jmccormick2001 opened #363 "dashboard is not documented in metrics.adoc"
the custom grafana dashboard  conf/grafana/PostgresSQL.json is not documented in metrics.adoc, needs to be, also a screenshot added to this documentation.

[2018-01-04 23:24] jmccormick2001 commented on #360
merged

[2018-01-04 23:24] #360 closed, assigned to xenophenes

[2018-01-04 23:24] jmccormick2001 commented on #361
merged

[2018-01-04 23:24] #361 closed, assigned to xenophenes

[2018-01-05 00:39] #285 closed, assigned to steve-hetzel

[2018-01-05 14:50] jmccormick2001 commented on #358
the idea here is to add a label to crunchy-collect containers when deployed in a database pod, something like crunchy-collect=true, then prometheus would be able to discover at runtime any containers to collect using that label, this would negate the need for a push gateway and remove the current feature of crunchy-collect to perform the scrape/push to the push gateway, instead just leaving the ex

[2018-01-05 15:37] #349 closed, assigned to jasonodonnell

[2018-01-05 15:46] jmccormick2001 commented on #348
https://github.com/CrunchyData/crunchy-containers/tree/master/examples/helm/custom-config

check out that new example we added, I think it might be what you were looking for.

[2018-01-05 15:46] #348 closed, assigned to nobody

[2018-01-05 15:47] jmccormick2001 commented on #347
you should be able to try out the PRE/POST hooks with the current released version

[2018-01-05 16:51] jmccormick2001 opened #366 "upgrade versions of prometheus, grafana to latest versions"
time to update these containers to use the latest versions of the base products.

[2018-01-05 16:54] jmccormick2001 opened #367 "remove or revise cct"

[2018-01-05 17:00] jmccormick2001 opened #368 "update exporters"
new versions of the exporters are available, this issue is to see if they can be pulled in and update our crunchy-collect container with these new versions.

[2018-01-05 22:47] jmccormick2001 commented on #283
as part of this exercise, we would also want to make the containers run as USER 26 on both kube and OCP...today this is out of sync due to the way pgadmin4 works and the security settings within OCP.

[2018-01-08 19:39] orondon opened #371 "Unable to pull from Docker v1 Registry"
Hi CrunchyData team

Recently upgraded to:

docker version
Client:
 Version:      17.05.0-ce
 API version:  1.29
 Go version:   go1.7.5
 Git commit:   89658be
 Built:        Thu May  4 22:06:25 2017
 OS/Arch:      linux/amd64

Server:
 Version:      17.05.0-ce
 API version:  1.29 (minimum version 1.12)
 Go version:   go1.7.5
 Git commit:   89658be
 Built:        Thu May  4 22:06:25 2017
 OS/Arch:

[2018-01-08 19:43] jmccormick2001 commented on #371
Hi, we don't create a 'latest' tag any longer, instead pull a specific version then you can tag it locally if you want to refer to a 'latest' tag in your project.  Hope that helps.  cheers.

[2018-01-09 14:30] jmccormick2001 commented on #359
merged

[2018-01-09 14:30] #359 closed, assigned to xenophenes

[2018-01-09 15:49] jmccormick2001 commented on #338
is this still an issue?

[2018-01-09 15:49] #338 closed, assigned to nobody

[2018-01-09 15:50] #371 closed, assigned to nobody

[2018-01-09 16:35] albertocsm commented on #338
no. thks

On Tue, Jan 9, 2018 at 3:49 PM, Jeff McCormick <notifications@github.com>
wrote:

[2018-01-09 19:32] orondon opened #376 "Data Persistence"
Hi CrunchyData team
I'm trying with Docker swarm to map /pgdata to a local data volume.
It worked out by setting up the local folder permissions with owner user postgres UID 26.
When the DB master starts, I do a restore from a dump
cat dumpfile | psql -d myDB
This works by creating /pgdata/container_id/....
My problem is how can this data persist so that I don't need a restore after every service

[2018-01-09 20:38] jmccormick2001 commented on #376
you might try out setting this environment variable in the postgres container, it will let you override the path that is created or looked for...
* PGDATA_PATH_OVERRIDE - if set, will cause the container to use a /pgdata path
   name of your choosing rather than the hostname of the container which
   is the default. This is useful for a primary in a deployment.

[2018-01-09 22:15] jmccormick2001 opened #377 "create unique PVCs for examples"
to support running examples concurrently using different storage types (e.g. RWO), we need each example to specify a unique PVC name when referring to a PVC.

Each unique PVC will need to be created within each example when the example is run.

Affects all kube and openshift examples that refer to crunchy-pvc, crunchy-pvc2, crunchy-pvc3.

Each example will need to be tested after this change is ma

[2018-01-09 22:54] martinspaeth commented on #351
Thank you for publishing your work here!

I am facing the same
Problem (multi host Environment). So I want to add my two cents...

The docker swarm listener (key component for docker flow)
https://github.com/vfarcic/docker-flow-swarm-listener might be a good inspiration when implementing swarm capabilities including label system via env cars!

Any estimate for a full docker swarm support already?

[2018-01-09 23:07] jmccormick2001 commented on #351
thanks for the input, I'm considering revising our Docker Swarm support/examples given the interest.

[2018-01-10 00:59] xenophenes commented on #333
This is good to close

[2018-01-10 14:37] #333 closed, assigned to xenophenes

[2018-01-10 14:40] dimthe opened #379 "add extra values ike max_connection and shared buffers"
hello
how can i increase max_connection , shared_buffers and kernem.shmmax ? where and how would i define those values ? thanks

[2018-01-10 14:51] jmccormick2001 commented on #379
for some reason these env vars were not documented!  they are now...
https://github.com/CrunchyData/crunchy-containers/blob/master/docs/containers.adoc

TEMP_BUFFERS - default is 8MB, set this value to override this PostgreSQL configuration setting
MAX_CONNECTIONS - default is 100, set this value to override this PostgreSQL configuration setting
SHARED_BUFFERS - default is 128MB, set this value to

[2018-01-10 16:52] jasonodonnell opened #380 "RPM version/repo inconsistency"
In all versions of the Dockerfiles, there's an inconsistent style of building the yum repo url.  Some have the PG version/repo hardcoded, other's call the env variables.

The hardcoded version/repo should be replaced with `${PGVERSION}` and `${PGDG_REPO}` respectively.

## PGVERSION

[code]

## PGDG_REPO

[code]

[2018-01-10 17:10] dimthe commented on #379
thanks it worked

[2018-01-10 17:10] #379 closed, assigned to nobody

[2018-01-10 17:15] dimthe opened #381 "etcd cluster is unavailable or misconfigured"
i get the bellow error

[code]

but this is healthy

[code]

i have my etcd endpoints defined in the valyes.yaml like so
`endpoints: "https://148.251.81.30:2379,https://136.243.23.162:2379,https://148.251.23.210:2379"`

what else can i check or do about this issue ?
thanks

[2018-01-10 17:22] jmccormick2001 commented on #381
wrong project?  you probably wanted to create this Issue for the stolon project.

[2018-01-10 17:23] dimthe commented on #381
oops sorry yes

[2018-01-10 17:26] #381 closed, assigned to nobody

[2018-01-10 18:15] dimthe opened #383 "crunchydata/crunchy-postgres:centos7-9.5-1.2.6"
i follow this article to do what it says

http://blog.kubernetes.io/2017/02/postgresql-clusters-kubernetes-statefulsets.html

is your image still available somewhere ?
this : docker pull crunchydata/crunchy-postgres:centos7-9.5-1.2.6

if not are there any workarounds ? i basically try to set up a postgres ha clusteer on kube

thanks

[2018-01-10 18:18] #383 closed, assigned to nobody

[2018-01-10 22:00] jmccormick2001 commented on #316
logging_collector = off

now, when you do that, you can use the Openshift container log aggregation documented
here:

https://docs.openshift.com/container-platform/3.6/install_config/aggregate_logging.html

[2018-01-11 23:19] jmccormick2001 opened #385 "update all RHEL dockerfiles to use 7.4 base image"

[2018-01-12 14:51] jmccormick2001 opened #386 "create pgaudit examples"
create a postgres example that demonstrates pgaudit being configured

examples/docker/pgaudit
examples/kube/pgaudit
examples/openshift/pgaudit

[2018-01-17 09:24] tomerweisman opened #388 "helm-statefulset example - replicas created with name pg-primary-X"
Hi
When I run your example in k8s cluster using helm all the replicas are created with name pg-primary-X
so the pg-replica service cannot find them as endpoints.
what is the desired name the replicas should be created with ?
is it a problem with your templates \ values?
thank you
![capture](https://user-images.githubusercontent.com/17765396/35035054-c7e36744-fb78-11e7-95bb-7379ee4d93f2.JPG)

[2018-01-17 17:51] steve-hetzel commented on #229
https://github.com/CrunchyData/crunchy-containers/pull/390/

[2018-01-17 18:08] orondon opened #391 "Crunchy Watch Error response from daemon: No such container: replica"
I’ve been trying to add a watch container to a docker swarm primary/replica cluster. But watch service is not able to find the replica container to create the trigger file.

**Steps to trigger the problem**: --in a docker swarm with 2 nodes-- deploy the containers: docker stack deploy -c stack.yml my service stack file extract:

version: '3'
networks:
    cluster:

services:
    primary:
        i

[2018-01-19 20:21] jmccormick2001 commented on #253
you might verify that this bug is fixed in the upcoming version you are working on.

[2018-01-19 22:36] jmccormick2001 commented on #357
verified this is fixed in the upcoming new release.  Once released I'll close this Issue.  I expect the new release to be out in the next 10 days.

[2018-01-19 23:01] jmccormick2001 commented on #347
I've added code to the upcoming release which performs a 'kubectl delete pod <<old primary>>' as part of a failover, this will be the default action of a failover going forward...the same will apply to openshift as well when completed.

[2018-01-19 23:05] jmccormick2001 opened #393 "demo project"
like the operator project does, define a project/namespace called demo, document how to create that namespace/project, then update the examples to assume they are running in that namespace, test and verify that all kube/ocp examples work under a demo namespace/project.  Make it clear to the users as to how to create the namespace/project in the early sequences of the install docs. Verify that name

[2018-01-22 14:15] jmccormick2001 commented on #211
moving to crunchy-watch repo Issue list

[2018-01-22 14:15] #211 closed, assigned to nobody

[2018-01-24 20:21] #342 closed, assigned to jasonodonnell

[2018-01-24 20:25] #363 closed, assigned to xenophenes

[2018-01-26 15:54] jasonodonnell opened #398 "Create common function library"
In many places we redefine the same logic in bootstrap scripts (ex, `ose_hack`).  I propose we create a common function library in `~/bin/common` and source it in bootstrap scripts as a step towards standardization.

[2018-01-26 16:22] ghost opened #399 "pgpool vs Statefulset"
Hi,

I have a question about kubernetes and your examples. I am using the StatefulSet to deploy a cluster of PostgreSQL. What i have understood is that the Statefulset is using replication and load balancing but does not implement the pgpool to prevent the single point of failure. So I want to use the pgpool process to do all of this.

The problem is that I do not know how to use the pgpool exampl

[2018-01-26 18:10] jmccormick2001 commented on #399
Hi Maxime,

the pgpool example we ship works with the primary-replica example running prior.  The pgpool example is configured to reach the service endpoints that are created from the primary-replica example.  One service is for the primary and one service is for the replica.

The statefulset example also creates 2 service endpoints, one for the primary and one for all the replicas.  So you would

[2018-01-27 10:28] donovanmuller opened #400 "Expose via Service Broker to enable managing databases via the OpenShift Service Catalog"
Are there plans to expose the Crunchy functionality as a [Service Broker](https://github.com/openservicebrokerapi/servicebroker) implementation so that provisioning/deprovisioning/binding  can be accomplished through the OpenShift [Service Catalog](https://docs.openshift.org/latest/architecture/service_catalog/index.html)?

Similar to this example using an APB via the Ansible Service Broker: https

[2018-01-27 10:30] donovanmuller commented on #400
More specifically, similar to: https://pivotal.io/platform/services-marketplace/data-management/crunchy

[2018-01-27 11:31] ghost commented on #399
Thanks @jmccormick2001 ,

What i do not understand is that the pgpool is created with a distinct pod wereas it should be used and running within the main pods?

I have tried to achieve what you adviced me but it is not working well. This is the `yaml` file i am using to create the StatefulSet with the pgpool. Since the StatefulSet is creating the same services as the primary-replica example, it sh

[2018-01-27 20:42] jmccormick2001 commented on #400
thanks, yes, this topic has been discussed recently...I think its something we are considering.

[2018-01-29 16:53] xenophenes opened #401 "Copy the "secrets" example from OpenShift over to Kubernetes"
The Kubernetes Secrets example needs to have a Kubernetes equivalent (it's only available for OpenShift at this time).

https://github.com/crunchydata/crunchy-containers/tree/master/examples/openshift/secret
https://github.com/crunchydata/crunchy-containers/blob/master/docs/examples.adoc#secrets

[2018-01-29 16:54] xenophenes opened #402 "Copy the "ssl" example from OpenShift over to Kubernetes"
Kubernetes needs an equivalent example for customer-config-ssl authentication.

https://github.com/crunchydata/crunchy-containers/blob/master/docs/examples.adoc#ssl-authentication
https://github.com/CrunchyData/crunchy-containers/tree/master/examples/openshift/custom-config-ssl

[2018-01-29 17:13] jmccormick2001 commented on #327
merged in a fix for this now that the PGDG pgaudit package is available.  Will land in the next postgres, postgres-gis, upgrade releases coming soon.

[2018-01-29 17:13] #327 closed, assigned to nobody

[2018-01-29 21:51] jasonodonnell commented on #353
Good to close @jmccormick2001 ?

[2018-01-29 22:02] #353 closed, assigned to jasonodonnell

[2018-01-29 22:09] beevelop commented on #353
@jasonodonnell Awesome, thank you!

[2018-01-30 17:40] jasonodonnell commented on #283
@jmccormick2001 Ready for closing?

[2018-01-30 17:47] jmccormick2001 commented on #283
merged

[2018-01-30 17:47] #283 closed, assigned to jasonodonnell

[2018-01-30 17:49] jasonodonnell commented on #398
Implemented in #405

[2018-01-30 17:49] #398 closed, assigned to nobody

[2018-01-31 12:29] beevelop commented on #357
@jmccormick2001 Is the fix included in the recently released 1.7.1 of crunchy-watch?

[2018-01-31 14:31] jmccormick2001 commented on #357
should be fixed with this release yes.  With this release you will see that some of the parameter names have changed, if you use previous version examples, they should still work but you'll see some warning messages in the logs about deprecated env vars.

[2018-01-31 14:31] #357 closed, assigned to jmccormick2001

[2018-01-31 16:50] jmccormick2001 opened #410 "remove openssh-clients from various Dockerfiles"
remove where possible openssh-clients from all Dockerfiles, retest each container impacted.

[2018-01-31 20:25] jmccormick2001 commented on #393
change NAMESPACE to CCP_NAMESPACE in all the docs and examples, retest, look for any places where the namespace or project are hardcoded or use 'default'...instead, we want to point users to use 'demo' as the namespace or project.

[2018-01-31 20:25] jmccormick2001 commented on #393
I added a note in install.adoc about creating a demo namespace.   That is checked into the master.

[2018-02-01 13:39] jmccormick2001 opened #412 "cleanup pgbouncer scripts and examples"
verify the pgbouncer examples and scripts, we currently do not support a failover using pgbouncer but code is there that suggests it, fix or remove this script and examples/doc.

[2018-02-01 19:02] jasonodonnell commented on #253
@the1forte @vnoorani The new pgAdmin4 v2 images are live and I wanted to check if this resolved your issues.  The new images have changed a bit so please see the documentation ([pgadmin-http](https://github.com/CrunchyData/crunchy-containers/blob/master/docs/examples.adoc#pgadmin4-http) and [pgadmin-https](https://github.com/CrunchyData/crunchy-containers/blob/master/docs/examples.adoc#pgadmin4-ht

[2018-02-01 20:10] jmccormick2001 commented on #345
http://info.crunchydata.com/blog/easy-postgresql-cluster-recipe-using-docker-1.12

[2018-02-05 22:00] jmccormick2001 opened #416 "configmaps usage"
review all examples, where configmaps can be used, update examples (e.g. custom-config)

[2018-02-06 13:39] jmccormick2001 opened #417 "explore pgadmin4 TLS design options"
lets look at alternatives here to putting the web service into the pgadmin4 container, ideally this can be separated out....lets also include looking at ingress for this as well

[2018-02-06 23:33] xenophenes opened #420 "All examples should use CCP_IMAGE_PREFIX"
There are some examples still using crunchydata/ as hard code rather than using the CCP_IMAGE_PREFIX variable. This should also be replaced in the /bin/pull-from-dockerhub.sh and /bin/push-to-dockerhub.sh scripts.

You can assign this to me if you want!

[2018-02-07 01:07] jmccormick2001 opened #422 "limit job restarts"
if possible add a setting to all jobs that would limit the number of restarts for the job.  In the event of a bug or broken container, this would prevent starting endless numbers of errored jobs.

[2018-02-07 15:04] jmccormick2001 commented on #253
resolved with latest version.

[2018-02-07 15:04] #253 closed, assigned to jasonodonnell

[2018-02-07 15:09] #229 closed, assigned to steve-hetzel

[2018-02-12 15:06] altondinsmore opened #428 "1.8.0 testing crunchy watch panics on docker"
Chrunchy Watch 1.8.0 was not found so modified the run.sh and changed last line to
-d $CCP_IMAGE_PREFIX/crunchy-watch:centos7-10.1-1.7.1
When running run.sh it looks good but issuing docker logs watch reviles it failed with a panic.

docker logs watch
WARNING: PG_PRIMARY_SERVICE is deprecated and will be removed in a future release, use CRUNCHY_WATCH_PRIMARY instead.
WARNING: PG_PRIMARY_PORT is de

[2018-02-12 19:26] altondinsmore opened #430 "1.8.0 testing Docker Only Proxy fails on comnect"
Proxy starts with no error but upon connection receive:
psql -h localhost -p 12432 -U postgres postgres
INFO[2018-02-12T19:17:43Z] Client: 172.17.0.1:59556 - authenticating
ERRO[2018-02-12T19:17:43Z] An error occurred connecting to the master node
ERRO[2018-02-12T19:17:43Z] Error dial tcp: missing address
ERRO[2018-02-12T19:17:43Z] Client: 172.17.0.1:59556 - authentication failed
ERRO[2018-02-12T1

[2018-02-12 19:51] altondinsmore opened #431 "1.8.0 NFS mount location not specified"
During the creation of PGBouncer we want the NFS mount to be at /mnt/nfsfileshare but the web page we direct people to has the NFS at /nfsfileshare. We should probably make note that it should be at /mnt/nfsfileshare.

Additionally, the example assumes you have an NFS share path of /mnt/nfsfileshare/.
NFS is required to mount the pgbouncer configuration files which are
then mounted to /pgconf in t

[2018-02-12 20:18] altondinsmore opened #432 "1.8.0 PGBouncer error on Docker"
PGBouncer starts and is connected to primary. After doing a "docker stop primary" get errors.

primary:5432 - accepting connections
primary:5432 - no response
Could not reach primary @  Mon Feb 12 20:14:55 UTC 2018
standalone failover.....
standalone failover is called
creating the trigger file on  replica
Got permission denied while trying to connect to the Docker daemon socket at unix:///var/run

[2018-02-12 20:18] jmccormick2001 commented on #410
merged and will land in 1.8.0

[2018-02-12 20:18] #410 closed, assigned to steve-hetzel

[2018-02-12 20:40] altondinsmore opened #433 "1.8.0 Metrics Ports incorrect"
So the dock says to use ports 3000, 9090, and 9091. On my Docker only system on the localhost I have to use ports 13000, 19090, and 19091 to get web access.

[2018-02-12 20:41] altondinsmore opened #434 "1.8.0 Metrics Grfana dashboard import location"
We should explain how to import the dashboard from the config directory

[2018-02-12 20:42] altondinsmore opened #435 "1.8.0 Metrics Grafana UN/PW"
We don't tell the users how to sign into Grafana and we should....

[2018-02-12 20:59] altondinsmore opened #436 "1.8.0 Grafana port assignment"
Eventhough I created a new datasource and used a different port the Grafana dashboard insists on the instance being crunch-metrics:9090. My data source has 192.168.122.201:19090

[2018-02-12 22:35] altondinsmore opened #437 "1.8.0 sync-primary Docker"
sync-primary fails with following errors...

GRANT
Stopping database after primary initialization...
waiting for server to shut down.... done
server stopped
Mon Feb 12 22:30:13 UTC 2018
2018-02-12 17:30:13 EST [70]: [1-1] user=,db=,app=,client=LOG:  invalid value for parameter "synchronous_standby_names": "sync-replica"
2018-02-12 17:30:13 EST [70]: [2-1] user=,db=,app=,client=DETAIL:  syntax erro

[2018-02-12 23:44] altondinsmore opened #439 "1.8.0 PITR Docker function pg_xlog_replay_resume() does not exist"
Missing function....
psql -h 127.0.0.1 -p 12001 -U postgres postgres -c 'select pg_xlog_replay_resume()'
Password for user postgres:
ERROR:  function pg_xlog_replay_resume() does not exist
LINE 1: select pg_xlog_replay_resume()
               ^
HINT:  No function matches the given name and argument types. You might need to add explicit type casts.

[2018-02-12 23:50] altondinsmore opened #440 "1.8.0 PITR Docker Doc correction"
Doc has...
'These segments are stored in the /tmp/primary-data/master-wal directory.'

Directory does not exist....

[2018-02-13 00:09] altondinsmore opened #441 "1.8.0 PITR Docker pg_xlog_replay_resume not found"
xlog has changed in PG 10. It is now wal.

select pg_xlog_replay_resume();
select pg_wal_replay_resume();

https://www.dbrnd.com/2017/12/postgresql-10-important-name-change-from-xlog-to-wal-and-location-to-lsn/

[2018-02-13 14:18] altondinsmore opened #442 "1.8.0 testing sshd Docker No ssh_host_rsa_key found in /sshd."
No matter how I try to change things it still can't find the sshd keys.

Checking for SSH Host Keys in /sshd...
No ssh_host_rsa_key found in /sshd.  Exiting..
[cmaster@dock18 postgres-sshd]$ ls /sshd
id_rsa.pub  ssh_host_ecdsa_key.pub  ssh_host_ed25519_key.pub  ssh_host_rsa_key.pub

from sshd.conf
Port 2022
#AddressFamily any
#ListenAddress 0.0.0.0
#ListenAddress ::

HostKey /sshd/ssh_host_rsa_key

[2018-02-13 17:53] jasonodonnell commented on #442
@altondinsmore You need to mount the private keys, not the public keys.  This is an sshd service, the private keys are used in the handshake.

[2018-02-13 18:36] jasonodonnell commented on #442
@altondinsmore It also appears that on your host where you are trying to execute the examples, you've made an actual `/sshd` directory.

The `/sshd` is inside the container, you can mount any directory on your host to that container.

For example: [we generate the ssh keys in the local directory $(pwd)/keys](https://github.com/CrunchyData/crunchy-containers/blob/master/examples/docker/postgres-ssh

[2018-02-14 22:10] jmccormick2001 opened #447 "openshift backrest restore needs cleanup script"

[2018-02-15 15:19] jasonodonnell opened #449 "Hardcoded log-path in backrest-restore job"
The backrest restore [start](https://github.com/CrunchyData/crunchy-containers/blob/master/bin/backrest_restore/start.sh#L33-L37) script has `--log-path` hardcoded.  This should not be hardcoded, instead a `pgbackrest.conf` configuration file should be mounted to configure the backrest tool accordingly.

Hardcoding this value requires the backrest-restore to mount the backup repo with write privil

[2018-02-15 15:45] jmccormick2001 opened #450 "backrest examples sync"
the kube and openshift backrest examples need to sync up, there is no run-pod-only.sh script in the Kube example....

[2018-02-16 14:16] jmccormick2001 commented on #430
wont' fix for now, until crunchy-proxy is back to a maintained state

[2018-02-16 14:16] #430 closed, assigned to nobody

[2018-02-16 14:22] jmccormick2001 commented on #367
removed as not maintained

[2018-02-16 14:22] #367 closed, assigned to jmccormick2001

[2018-02-16 14:23] jmccormick2001 commented on #347
merged into 1.8.0

[2018-02-16 14:23] #347 closed, assigned to jmccormick2001

[2018-02-16 14:26] jasonodonnell commented on #376
@orondon Two ways to fix this:

* `PGDATA_PATH_OVERRIDE` environment variable as @jmccormick2001 mentioned
* Specify a hostname (`docker run --hostname=primary`)

[2018-02-16 15:09] beevelop commented on #347
Awesome. Thank you 👍

[2018-02-16 16:11] jmccormick2001 commented on #347
we are pushing 1.8.0 out here in a few hours as well, forgot to mention that.  cheers.

[2018-02-16 16:21] jasonodonnell opened #451 "Add dracut-fips to support FIPS"
Our current images do not enforce FIPS compliance on a fips enabled docker host due to `dracut-fips` missing from our images.

After some testing this is what's required to enforce FIPS in our RHEL images:

[code]

[2018-02-16 19:46] #393 closed, assigned to xenophenes

[2018-02-16 19:51] jmccormick2001 commented on #295
closing since issue is logged int he crunchy project Issues list.

[2018-02-16 19:51] #295 closed, assigned to jmccormick2001

[2018-02-16 19:51] jmccormick2001 commented on #254
implemented in current crunchy-watch

[2018-02-16 19:51] #254 closed, assigned to jmccormick2001

[2018-02-16 19:53] jmccormick2001 commented on #142
merged.

[2018-02-16 19:53] #142 closed, assigned to xenophenes

[2018-02-21 07:36] harshal-shah opened #453 "Streaming replication does not work with multiple replicas in a stateful set"
While trying to use the statefulset example [described here](https://github.com/CrunchyData/crunchy-containers/blob/master/docs/examples.adoc#statefulsets) , the replication works fine when replica count is 2 but when we scale the statefulset to 3 replicas, the replication still happens to one pod only.

For example :

[code]

When querying `pg_stat_replication` on pgset-0, we see following :

[co

[2018-02-25 01:32] xenophenes commented on #434
This is done already in metrics.adoc:
https://github.com/crunchydata/crunchy-containers/blob/master/docs/metrics.adoc#grafana-dashboard

@jmccormick2001 do you want the information repeated in examples.adoc or a reference in that document stating that it exists in metrics.adoc?

[2018-02-25 02:34] xenophenes commented on #431
So if you look at the instructions (I'm assuming you're talking about [this document](https://www.itzgeek.com/how-tos/linux/centos-how-tos/how-to-setup-nfs-server-on-centos-7-rhel-7-fedora-22.html) referenced in install.adoc), you'll see that you are instructed to create a /nfsfileshare folder on the **server** but when you create the equivalent folder on the **client** you create it under /mnt/nf

[2018-02-25 18:15] jasonodonnell opened #454 "Duplicate images"
The following images have no dependency on Postgres version:

* DBA
* Grafana
* Prometheus
* Promgateway
* Sim
* Vacuum

We should build these separately without a Postgres version tag to reduce duplicate builds.

[2018-02-26 19:19] abrightwell commented on #454
Seems reasonable to me. I think it would have a benefit on multiple fronts. However, we would need to make sure that a proper transition plan/guidance is in place for those using the current convention. Should be simple enough, but I think the effort is worth it to prevent/minimize breaking environments.

[2018-02-28 03:47] xenophenes commented on #401
I have this ready to go, waiting until latest two PRs are merged first to avoid conflicts.

[2018-02-28 09:00] masonb81 opened #455 "postgres cluster using docker-compose doesn't allow PG_DATABASE with mixed case values?"
Hi,

I'm setting up a standard postgres cluster using the docker-compose file but it seems the PG_DATABASE parameter needs to be lower case? When using the PG_DATABASE value of idmvnextenvcnf it seems to work but using the value IdmVNextEnvCnf doesn't work.

Docker-Compose File:
version: '3.2'

services:
  vnext-db-test-ha-primary:
    image: crunchydata/crunchy-postgres:centos7-9.6.7-1.8.0
    ho

[2018-02-28 23:47] jmccormick2001 commented on #454
I'm testing a change for this currently.  It performs the build one time, but will still create the 3 tags for each of them.  I want to retain the current CCP_IMAGE_TAG convention for various reasons but also like the idea of not building these needlessly.

[2018-03-01 17:09] jmccormick2001 commented on #453
thanks,I'll take a look into this.

[2018-03-01 19:12] jmccormick2001 commented on #453
I definitely see a bug in the statefulset logic that has surfaced since kube 1.6...I'll create a fix for this, should land in the 1.8.2 release of the crunchy-postgres container.

[2018-03-02 10:05] harshal-shah commented on #453
Thanks @jmccormick2001. I should have specified the k8s version I was running, yes we are trying with kubernetes 1.8.6. Looking forward to get a solution for this.

[2018-03-02 19:01] jmccormick2001 opened #463 "pgbadger - fix nss_wrapper error"
need to fix the badger container to not get this error...probably needs the nss_wrapper added to the container now that ose_hack is common.

[suite@kube18 postgres-gis]$ kubectl logs badger -c badger
waiting for badgerserver to catch signal...
ERROR: ld.so: object '/usr/lib64/libnss_wrapper.so' from LD_PRELOAD cannot be preloaded: ignored.

The badger app still works but the error needs resolving.

[2018-03-02 19:32] MattMacGillivray opened #464 "adding a custom extension to postgresql - timescaledb"
I probably missed it, but it isn't clear how to add a custom postgres extension, specifically timescaledb - http://docs.timescale.com/v0.8/getting-started/installation/linux/installation-yum

[2018-03-02 19:59] jmccormick2001 opened #465 "pitr - update"
we need to update all the PITR examples and docs to use the latest terms/naming conventions, also the pitr.adoc needs to be updated with step-by-step things to perform when testing this from start to end.  The referenced blog is also out of date, so we need to drop that reference or update the redhat site with new information or post a new crunchy hosted blog on this topic.

[2018-03-03 21:34] jmccormick2001 opened #467 "change DEBUG env var to CRUNCHY_DEBUG"
to make this env var consistent and more narrow, I would like to rename it from DEBUG to CRUNCHY_DEBUG...this will be the common env var name across all the container projects.

[2018-03-05 17:16] jasonodonnell opened #468 "PostGIS Upgrades"
We cannot upgrade PostgreSQL major versions if PostGIS is installed.  If all versions of PostGIS are the same between all 3 major versions, we can upgrade any GIS container using the upgrade image.

The plan to support this major upgrade would be to:
* Change all images to use the latest version of PostGIS (2.4)
* Add PostGIS upgrade on 9.5 (postgis 2.2) and 9.6 (postgis 2.3) to support the newer

[2018-03-05 22:04] jmccormick2001 commented on #385
already done as of 1.8.1

[2018-03-05 22:04] #385 closed, assigned to jmccormick2001

[2018-03-05 22:05] jmccormick2001 commented on #377
merged into master, with this change all examples have/create/delete their own PVCs...1 of about 6 changes I'm making to the storage confguration.

[2018-03-05 22:05] #377 closed, assigned to jmccormick2001

[2018-03-05 22:08] jmccormick2001 commented on #441
merged

[2018-03-05 22:08] #441 closed, assigned to xenophenes

[2018-03-05 22:09] jmccormick2001 commented on #440
merged into master

[2018-03-05 22:09] #440 closed, assigned to xenophenes

[2018-03-05 22:09] jmccormick2001 commented on #439
merged into master

[2018-03-05 22:09] #439 closed, assigned to xenophenes

[2018-03-05 22:10] jmccormick2001 commented on #401
merged into master

[2018-03-05 22:10] #401 closed, assigned to xenophenes

[2018-03-05 22:11] jmccormick2001 commented on #420
merged into master

[2018-03-05 22:11] #420 closed, assigned to xenophenes

[2018-03-05 22:13] jmccormick2001 commented on #442
no changes necessary.

[2018-03-05 22:13] #442 closed, assigned to jasonodonnell

[2018-03-05 22:13] jmccormick2001 commented on #436
no changes necessary.

[2018-03-05 22:13] #436 closed, assigned to jasonodonnell

[2018-03-05 22:14] jmccormick2001 commented on #435
no changes necessary for this one.

[2018-03-05 22:14] #435 closed, assigned to jasonodonnell

[2018-03-05 22:15] jmccormick2001 commented on #358
will go away with the new prometheus 2.0 implementation.  Other issues cover this work.

[2018-03-05 22:15] #358 closed, assigned to jasonodonnell

[2018-03-05 22:19] jmccormick2001 commented on #433
fixed the metrics.adoc to show the right docker ports.  merged into master.

[2018-03-05 22:19] #433 closed, assigned to xenophenes

[2018-03-06 15:42] jmccormick2001 opened #469 "update COPYRIGHT statements"
we need to update our copyright statements to follow this guidance:

a file gets created in 2016 so it would state "2016-2018"

a file gets created in 2017 it would state "2017-2018"

a file gets created in 2018 it would state "2018"

[2018-03-06 17:57] altondinsmore commented on #431
Yes it does. I noticed this in the code from Jason on another issue. Should have closed it at that point.

[2018-03-06 18:01] altondinsmore commented on #434
I would say that the example should advise people that we have a Grafana dashboard available for import and to refer to document metrics.adoc for instructions.

[2018-03-06 18:33] jmccormick2001 commented on #434
lets go with a reference in examples.adoc to point this out to the users.

[2018-03-06 19:50] xenophenes commented on #434
I went to go add this reference and found it's already there.

https://github.com/crunchydata/crunchy-containers/blob/master/docs/examples.adoc#metrics-collection

[2018-03-06 19:53] jmccormick2001 commented on #434
ah, ok, I think that covers this one, closing out.

[2018-03-06 19:53] #434 closed, assigned to xenophenes

[2018-03-06 21:36] martinspaeth commented on #351
Hi just a little bump about this topic any news so far?
best regards

[2018-03-06 21:49] davecramer commented on #351
@martinspaeth thx for the bump. I'll have to spend some time looking at this

[2018-03-06 22:08] jmccormick2001 commented on #453
https://hub.docker.com/r/jmccormick2001/crunchy-postgres/

the fix for this appears to work on my kube box...above is a test version of the postgres container with that fix applied...

if you run the examples/kube/statefulset example in the master branch it would be a good test if you have time to make sure this works for you.

regards.

eventually this fix will land in the 1.8.2 official release

[2018-03-09 02:03] jasonodonnell commented on #376
@orondon Let us know if this helped.  Will close due to inactivity soon.  Thanks!

[2018-03-09 02:10] jasonodonnell commented on #463
[Needs](https://github.com/CrunchyData/crunchy-containers/blob/master/rhel7/10/Dockerfile.pgbadger.rhel7#L34-L37) EPEL, nss_wrapper and gettext.

[2018-03-09 13:22] orondon commented on #376
This worked. You may close. Thanks.

[2018-03-09 13:22] #376 closed, assigned to jasonodonnell

[2018-03-09 15:02] the1forte opened #471 "password management feature request"
Suggesting an enhancement to add a password management option to the postgres container. If enabled, the password management feature would execute short SQL script every time the container starts. This script would reset the password to the current environment setting or secret setting for PG_USER, PG_PRIMARY_USER and PG_ROOT passwords. This would apply secret password changes to postgres the next

[2018-03-10 09:21] chrismellard opened #472 "postgres startup.sh does not appear to be Kubernetes namespace aware"
There are a couple of kubectl commands in the startup.sh file for postgres that label the primary and replicas. This is required so I can get failover working using pgbouncer. As it stands these label commands fail when using namespaces within Kubernetes as `kubectl label` fails to find the pods if they are in any namespace other than default.

I've not started trying to fathom for a solution for

[2018-03-10 15:38] jmccormick2001 commented on #472
#453 is going to cause trouble ....  I've created a fix for this, a test postgres image is out on dockerhub, this fix requires you add a PG_REPLICA_HOST env var to your stateful set and also I tweaked the labels in the statefulset, see the example/kube/statefulset example in master branch...would be great if you could test this against your use case and see if it fixes the issue.  regards.

[2018-03-10 16:18] jmccormick2001 commented on #344
I think for now, the 'Configure Storage' section of the install.adoc will suffice, I'm adding all the storage config changes there for now...will revisit a separate doc later on.

[2018-03-10 16:18] #344 closed, assigned to jmccormick2001

[2018-03-12 17:14] #431 closed, assigned to xenophenes

[2018-03-13 14:54] jasonodonnell opened #474 "pgAdmin4 Failing RH Scans"
[This line of code](https://github.com/CrunchyData/crunchy-containers/blob/master/rhel7/10/Dockerfile.pgadmin4.rhel7#L64) is causing the pgAdmin4 to fail certification scans.

Explore what it would take to configure apache to use a different directory that doesn't require permission changes.

[2018-03-13 15:57] jmccormick2001 commented on #366
merged

[2018-03-13 15:57] #366 closed, assigned to jasonodonnell

[2018-03-13 15:58] jmccormick2001 commented on #368
merged

[2018-03-13 15:58] #368 closed, assigned to jasonodonnell

[2018-03-14 13:09] davecramer opened #479 "replica readiness script fails"
/opt/cpm/bin/setenv.sh
setting PGROOT to  /usr/pgsql-10
chown: cannot access '/pgwal/pr-replica-wal': No such file or directory

A simple solution is to put a check to see if we are in 'ARCHIVE_MODE' in the script

[2018-03-14 14:46] jasonodonnell opened #480 "Architecture graphic out of date"
Due to recent changes with the metrics stack, the [architecture graphic](https://github.com/CrunchyData/crunchy-containers/raw/master/images/containers.png?raw=true) contains a container that no longer exists - promgateway.

[2018-03-15 12:53] jmccormick2001 commented on #480
merged

[2018-03-15 12:53] #480 closed, assigned to nobody

[2018-03-15 12:53] jmccormick2001 commented on #474
merged

[2018-03-15 12:53] #474 closed, assigned to nobody

[2018-03-15 17:47] cmwshang opened #487 "Examples.adoc empty section and non-compliant double quotes"
Both these issues are in the file examples.adoc:

1.  There is an empty section ===== Kubernetes Secrets. It is followed immediately by another section ===== Secrets. Maybe ===== Secrets should be removed as redundant since there is no subsection under that?

2.  Double quoted text is not asciidoc compliant. According to  http://asciidoc.org/userguide.html#X51, they should be enclosed with ``two g

[2018-03-15 17:51] cmwshang commented on #487
containers.adoc has the same statement as 2. above with the non-compliant double quotes.

[2018-03-15 22:03] xenophenes commented on #487
I'm happy to fix the other things you mentioned, however the double-quotes standard you mentioned is not rendered correctly in GitHub which is currently our primary means of displaying documentation.

For example, if you look at examples.adoc at the sections you fixed:

You can see the quotes are displayed literally rather than being translated. Likewise, replacing the quotes in these code blocks

[2018-03-15 22:09] jmccormick2001 opened #489 "pgbouncer - failover"
either fix failover logic in pgbouncer or remove it entirely from the docs and code base.

[2018-03-15 22:16] sfrost commented on #489
Is there a description of what the issue is with the failover logic?  I've not seen issues *in* pgbouncer regarding this, but if there's a problem there then we should be able to get it addressed upstream.  I'm guessing that there's an issue in how we're using it though, and I'd be happy to try and help address that.  I'd certainly rather not see pgbouncer removed from the docs or codebase as we r

[2018-03-15 22:23] jmccormick2001 commented on #489
its totally in my code on this one and how I wrote it 3 yrs ago, pgbouncer is working I think as expected.  we'll keep pgbouncer container for sure however, its just the failover part of that integration that I need to re-do and make right again.

[2018-03-15 22:31] sfrost commented on #489
Ok, if there's anything I can do to help, please let me know.  I can certainly answer questions regarding pgbouncer in the near-term, in the slightly longer-term (post-March), I could take a look at diving in myself to try and see what's going on and see if I can debug it.  I'd really like to make sure we get pgbouncer solid as I see a lot of upcoming deployments where it would be a great fit.

[2018-03-15 23:18] jmccormick2001 commented on #467
merged will land in 1.8.2

[2018-03-15 23:18] #467 closed, assigned to xenophenes

[2018-03-15 23:18] jmccormick2001 commented on #437
merged, will land in 1.8.2

[2018-03-15 23:18] #437 closed, assigned to xenophenes

[2018-03-15 23:19] jmccormick2001 commented on #332
merged will land in 1.8.2 release

[2018-03-15 23:19] #332 closed, assigned to xenophenes

[2018-03-16 14:05] jasonodonnell opened #493 "Duplicate documentation images"
The architecture diagram is in two locations:

• https://github.com/CrunchyData/crunchy-containers/tree/master/images
• https://github.com/CrunchyData/crunchy-containers/tree/master/docs/images

This should be reduced to a single source (leaning on `docs/images`).

[2018-03-16 15:57] jmccormick2001 opened #494 "change pg-restore to not have a hard coded backup file date string"

[2018-03-16 15:58] jmccormick2001 commented on #493
merged

[2018-03-16 15:59] jmccormick2001 commented on #463
merged

[2018-03-16 15:59] #463 closed, assigned to jasonodonnell

[2018-03-16 16:01] jmccormick2001 commented on #451
holding on this one for now.

[2018-03-16 16:06] jmccormick2001 commented on #386
merged

[2018-03-16 16:06] #386 closed, assigned to steve-hetzel

[2018-03-16 16:15] jmccormick2001 opened #495 "evaluate Deployments in examples"
evaluate existing examples that could be made better or more realistic by running them within Deployments instead of simple Pods.

[2018-03-16 16:16] jmccormick2001 opened #496 "bring example naming conventions in sync"
make sure examples in both kube and openshift match up in directory/folder names.

[2018-03-16 16:17] jmccormick2001 opened #497 "remove any NFS dependencies in all examples"
examine all examples and remove any NFS specific dependencies.

[2018-03-16 16:18] jmccormick2001 opened #498 "doc update - warn against using default namespaces or system user accounts"
update the install.adoc to warn users to not use the default namespace or system user
account when running examples.

[2018-03-16 16:20] jmccormick2001 opened #499 "insure all examples clean up after themselves."

[2018-03-16 16:21] jmccormick2001 opened #500 "consolidate all openshift templates"
consolidate all openshift template examples into a single templates directory, insure all examples work against Openshift Pro.

[2018-03-16 16:22] jmccormick2001 commented on #286
1.8.2 will include several changes as part of this Issue, more will come in 1.8.3.  The 1.8.2 release notes will state what changes were made as part of this Issue.

[2018-03-16 16:24] jmccormick2001 opened #501 "explore combining kube and openshift examples into a single directory"

[2018-03-16 16:39] jmccormick2001 opened #502 "add TOC to containers.adoc"
add a TOC like found in examples.adoc to containers.adoc

[2018-03-16 16:42] jmccormick2001 opened #503 "standardize all example file names"
create a naming convention for the example file components

currently we have standards in some of the file names like run.sh or cleanup.sh
but other files need a standard naming convention.

[2018-03-16 16:47] jmccormick2001 opened #504 "rename primary-pvc example to primary"
part of the storage refactor makes the name primary-pvc not very useful any more...all of the examples will be using PVCs for storage going forward and not emptydir so a name change here is useful I think.

[2018-03-16 18:38] jmccormick2001 opened #505 "update dockerhub descriptions and content"
add a simple example where possible to our dockerhub content, also make sure descriptions are updated for all containers.

[2018-03-16 18:40] jmccormick2001 opened #506 "add github editorconfig"
for golang formatting, and perhaps other formatting (json files).

[2018-03-16 18:42] jmccormick2001 opened #507 "rename the container crunchy-dump to crunchy-pgdump"

[2018-03-16 19:16] jmccormick2001 opened #509 "prototype github pr and issue templates"
is this useful?  what does it solve?  what does it look like?

[2018-03-16 19:44] jmccormick2001 opened #510 "update the errata.adoc file to match the standard doc format"

[2018-03-16 20:24] xenophenes commented on #503
One example of this might be having simple names that are easy to type for example directories - for example,
- pgpool-deployment -> pgpool.
- pgdump-job -> pgdump
- pgrestore-job -> pgrestore
- vacuum-job -> vacuum
- backup-job -> backup
- primary-restore -> restore
- postgres-sshd -> sshd
- primary-deployment -> deployment

Another, docker/basic -> docker/primary to match the openshift/kube equi

[2018-03-19 11:39] xenophenes commented on #503
Another example, most pods in the examples have simple names wherever possible. Some are outliers like **badger-example** - should be consolidated to **pgbadger**.

[2018-03-19 13:10] cmwshang commented on #487
GitHub repository has it's own "flavor" of asciidoc and if there is a problem with how the GitHub renderer displays the asciidoc markup, then we need to submit a bug report, which I will do.  If we are to use adoc files as the source for building our documentation in HTML, PDF and markdown, then we cannot deviate from the standards just to overcome an issue with the Github display.

Cynthia Shang

[2018-03-19 13:55] xenophenes opened #513 "BADGER_TARGET needs to be documented properly"
The pgbadger example seems to work without setting it, but the logs warn that BADGER_TARGET is not set. Something should be mentioned in example.adoc about this warning and containers.adoc should contain an example of how to set it and what you would set it to. Potentially, this warning should be removed altogether and the variable made optional as long as pgbadger is actually targeting the postgr

[2018-03-19 14:57] jasonodonnell commented on #513
@xenophenes Does this not suffice? https://github.com/CrunchyData/crunchy-containers/blob/master/docs/containers.adoc#environment-variables-6

[2018-03-19 15:02] xenophenes commented on #513
1) To avoid confusion when the warning comes up, a note should be made in examples.adoc that clarifies the container **is** being targeted without the variable being set. My initial reaction was to assume badger wasn't working and wasn't targeting a database container. I'm likely not going to be the only one.

2) "Potentially, this warning should be removed altogether and the variable made optiona

[2018-03-19 15:04] jasonodonnell commented on #513
Agreed, I think the warning log sends the wrong impression.

[2018-03-19 16:11] xenophenes opened #514 "Helm charts need to be updated"
Helm charts should be updated with respect to the following:

- PostgreSQL version 10
- Basic should now mirror primary-pvc

[2018-03-19 17:31] xenophenes commented on #487
This issue will have to be placed on hold until GitHub fixes this bug. Please let me know when you receive an update from their team.

[2018-03-19 17:31] xenophenes commented on #465
To be clear, what naming conventions and terms are you referring to that you want updated?

[2018-03-19 17:33] xenophenes commented on #388
Hello!

My apologies for the long wait in a response. I'll be taking a look at this within the next few days and will get back to you once the issue is fixed so you can try this again.

Thank you for your patience!

[2018-03-19 17:35] xenophenes commented on #510
1) What is this document supposed to be?
2) What content is this supposed to have?

[2018-03-19 19:19] cmwshang commented on #487
I disagree but we will take this offline with the parties involved.

[2018-03-21 13:39] jasonodonnell commented on #501
@xenophenes We can split these up like this if you want:

## @jasonodonnell

[code]

## @xenophenes

[code]

[2018-03-21 14:03] xenophenes commented on #501
Sure - including merging documentation for the respective examples we're doing?

[2018-03-21 14:11] jasonodonnell commented on #501
@xenophenes Works for me

[2018-03-21 15:23] jasonodonnell opened #519 "Explore Dockerfile templates"
Today we maintain almost identical Dockerfiles for each version/os.  The only thing that really changes from different versions are RPMs being installed.  It's possible to templatize dockerfiles using `build-args`.

Here's an example how this might be done (postgres as example):

### Dockerfile Template

[code]

### Build Script

Build three versions with the following:

[code]

[2018-03-21 18:03] xenophenes commented on #497
Make sure all NFS specific directory references are removed from examples.adoc, too.

[2018-03-21 18:16] xenophenes commented on #501
FYI - also targeting:
- statefulset-dyn
- primary-upgrade
- workshop (talking to Jeff about this one and if it should be kept or dropped)

[2018-03-21 21:27] jmccormick2001 commented on #510
for now, we just need  the currently empty doc to have the crunchy docs header...eventually this would contain release related information on package updates, bug fixes, and security patches...

[2018-03-21 21:28] jmccormick2001 commented on #509
merged into master

[2018-03-21 21:28] #509 closed, assigned to xenophenes

[2018-03-21 21:31] jmccormick2001 commented on #487
thanks to all for chasing this down...for now since we use github for our docs site, we need the quoting to look correct to users...if github fixes this rendering we will come back and update to get our docs to the standard format, but for now I think we have done as much as we can.  contact me if you feel we need to resolve differently and thank you for reporting this and making the docs better a

[2018-03-21 21:31] #487 closed, assigned to xenophenes

[2018-03-21 21:31] jmccormick2001 commented on #469
merged into master.

[2018-03-21 21:31] #469 closed, assigned to xenophenes

[2018-03-21 21:33] jmccormick2001 commented on #506
merged into master

[2018-03-21 21:33] #506 closed, assigned to jasonodonnell

[2018-03-22 18:21] xenophenes opened #523 "Consistency - some containers "echo" when starting, others don't"
**I'm submitting a ...**

 - [ ] bug report
 - [x] feature request
 - [ ] support request

**Do you want to request a *feature* or report a *bug*?**

Feature.

**What is the current behavior?**

Some container examples currently report their status when starting up...

`echo "Starting postgres-gis container..."`

...while others don't.

**What is the expected behavior?**

It should be one or the o

[2018-03-22 21:15] jasonodonnell commented on #523
These need the common_lib updates:

https://github.com/CrunchyData/crunchy-containers/tree/master/bin/backrest_restore
https://github.com/CrunchyData/crunchy-containers/tree/master/bin/backup
https://github.com/CrunchyData/crunchy-containers/tree/master/bin/bench
https://github.com/CrunchyData/crunchy-containers/tree/master/bin/pgdump
https://github.com/CrunchyData/crunchy-containers/tree/master/b

[2018-03-22 21:25] jasonodonnell commented on #402
Done in #501

[2018-03-22 21:28] jasonodonnell opened #525 "Refactor Kube custom-config-ssl Example"
The `custom-config-ssl` example should be refactored to:

* Use configmaps and secrets
* Generate server and client certs when the example is executed
* Setup client cert ready to use for testing

[2018-03-23 12:21] jmccormick2001 commented on #402
merged

[2018-03-23 12:21] #402 closed, assigned to nobody

[2018-03-23 12:28] jmccormick2001 opened #527 "consolidate all Redhat/Atomic docs into a subdirectory in the docs directory"
**I'm submitting a issue to consolidate all the docs related to the Atomic/Redhat doc files into a subdirectory, this will require you to modify the dockerfiles for RHEL to pull in the docs from the subdirectory instead of the current location**

 - [ ] bug report
 - [x ] feature request
 - [ ] support request

**Do you want to request a *feature* or report a *bug*?**

feature

**What is the curre

[2018-03-23 13:24] jmccormick2001 commented on #501
merged

[2018-03-23 13:24] #501 closed, assigned to jasonodonnell, xenophenes

[2018-03-23 13:25] jmccormick2001 commented on #450
merged

[2018-03-23 13:25] #450 closed, assigned to jasonodonnell

[2018-03-23 14:02] jasonodonnell commented on #523
I am doing `backrest_restore` as part of a different effort @xenophenes

[2018-03-23 15:01] #510 closed, assigned to xenophenes

[2018-03-23 15:02] jmccormick2001 commented on #465
I think the pitr.adoc can be merged into the pitr docs within examples.adoc at this point..

[2018-03-23 15:03] #388 closed, assigned to xenophenes

[2018-03-23 15:04] xenophenes commented on #388
@tomerweisman The latest PR should fix the issue. Please let me know if you continue seeing any problems. Thanks again!

[2018-03-23 15:16] jmccormick2001 opened #528 "rename examples to remove -job"
please remove the *-job* from the various example folder names.  The naming convention for these should describe the feature instead of a detail like it being a Kube job.  The examples doc can mention that it is implemented as a Kube job instead of capturing it in the folder name.

 - [ ] bug report
 - [ x] feature request
 - [ ] support request

**Do you want to request a *feature* or report a *b

[2018-03-23 15:19] xenophenes commented on #465
OK, will take that into account!

[2018-03-23 15:23] jmccormick2001 opened #530 "rename primary-pvc folder to primary"
at this point of refactoring, we can rename primary-pvc to just primary to better state the
purpose of this example at this point.

 - [ ] bug report
 - [x ] feature request
 - [ ] support request

**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce:**

**What is the expected behavio